@import 'magic.css/assets/scss/math/swashOut';

.closing {
  // The time needs to be the same than in js: ownAd.classList.add('closing');
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  /* stylelint-disable-next-line */
  animation-name: swashOut;
  animation-timing-function: linear;
}

/* stylelint-disable-next-line */
.dismissed {
  display: none;
}

/* stylelint-disable a11y/no-display-none */
.advertisement {
  @extend .container;
  padding-bottom: 0;
  padding-top: 0;
}

// Hide ads on top of the page
.site-head + .google-auto-placed {
  display: none !important;
}

.ad-top {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  margin-bottom: 60px;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 20px;

  p {
    color: #888;
    font-size: 15px;
    font-weight: 400;
  }

  strong {
    font-weight: 500;
  }

  a {
    @include link();
    border-color: #888;
    color: #888;
  }
}

.container.container-article .ownad-unblockable {
  max-width: 1100px;
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;

  .global-link {
    height: 80%;
  }

  a::before {
    display: none !important;
  }

  .promotion-info:first-child {
    align-items: center;
    color: #888;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
    margin-top: 8rem;
    text-align: center;

    &::after,
    &::before {
      background-color: #aaa;
      content: '';
      display: inline-block;
      height: 1px;
      margin: 2rem;
      width: 30px;
    }
  }

  .hide-forever {
    border: 0;
    border-radius: 30px;
    color: var(--color-white);
    display: block;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 3rem;
    padding: 0;
    position: relative;
    text-align: center;
    transition: all .18s;
    z-index: 10;

    svg {
      height: 13px;
      margin-right: 8px;
      position: relative;
      top: -1px;
      width: 13px;
    }

    &:hover {
      background-color: transparent;
      color: var(--color-red-brighter);
    }

    &:focus {
      background-color: transparent;
      color: var(--color-red-brighter);
      outline-color: var(--color-red-brighter);
      outline-offset: 5px;
      outline-style: solid;
      outline-width: 2px;
      transition: outline-offset .25s ease;
    }
  }

  &:hover .spans,
  &:focus .spans {
    box-shadow: 0 4px 80px rgba($color-black, 1);
    transform: scale(1.02);

    p a:not(.button):not(.post-edit-link) {
      animation-duration: 1s;
      animation-iteration-count: infinite;
      /* stylelint-disable no-unknown-animations */
      animation-name: shake;
      animation-timing-function: linear;
      background-color: transparent;
      border-color: lighten($color-blog-links, 35%);
      color: lighten($color-blog-links, 35%);
      transform-origin: 50% 50%;
    }
  }

  a.global-link:not(.button):not(.post-edit-link) {
    border: 0;
    box-shadow: none;
    position: absolute;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  .spans {
    background-color: #1f1f1f;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 4px 80px rgba(#000, .7);
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 8rem 0;
    overflow: hidden;
    transition: all $transition-duration;

    @media (max-width: 800px) {
      display: block;
    }
  }

  .span-first {
    /* stylelint-disable property-disallowed-list */
    background: linear-gradient(90deg, desaturate(darken(#4e4aff, 20%), 45%), #4e4aff);
    display: grid;
  }

  .inner {
    align-items: center;
    display: grid;
    justify-content: center;
    padding: 4rem 1.5rem;
  }

  svg {
    height: 29.97px;
    width: 150px;
  }

  .span-second {
    color: #d8d8d8;
    display: grid;
    padding: 50px 95px;
    place-items: center;

    p {
      font-family: $font-alt;
      font-size: 16px;
      line-height: 1.44;
      margin: 0;
    }

    a:not(.button):not(.post-edit-link) {
      color: lighten($color-blog-links, 25%);
      display: inline-block;
    }

    @media (max-width: 1080px) {
      padding: 40px 28px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #d8d8d8;
  }

  .title {
    font-family: $font-alt;
    font-size: 22px;
    margin: 0 0 1rem;
  }

  @media (max-width: 400px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
