.advertisement {
  @extend .container;
  padding-bottom: 0;
  padding-top: 0;
}

.ad-top {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  margin-bottom: 60px;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 20px;

  p {
    color: #888;
    font-size: 15px;
    font-weight: 400;
  }

  strong {
    font-weight: 500;
  }

  a {
    @extend %link;
    border-color: #888;
    color: #888;
  }
}

.container.container-article .ownad-unblockable {
  max-width: 1100px;
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;

  @media (max-width: 400px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  a::before {
    display: none !important;
  }

  .promotion-info:first-child {
    color: darken(#d8d8d8, 10%);
    display: block;
    display: none;
    margin-top: 8rem;
    text-align: center;
  }

  &:hover .spans,
  &:focus .spans {
    box-shadow: 0 4px 80px rgba($color-black, 1);
    transform: scale(1.02);

    p a:not(.button):not(.post-edit-link) {
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: shake;
      animation-timing-function: linear;
      background-color: transparent;
      border-color: lighten($color-blog-links, 35%);
      color: lighten($color-blog-links, 35%);
      transform-origin: 50% 50%;
    }
  }

  a.global-link:not(.button):not(.post-edit-link) {
    border: 0;
    box-shadow: none;
    position: absolute;

    &:hover,
    &:focus {
      background: transparent;
    }
  }

  .spans {
    background: #1f1f1f;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 4px 80px rgba(#000, .7);
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 8rem 0;
    overflow: hidden;
    transition: all $transition-duration;

    @media (max-width: 800px) {
      display: block;
    }
  }

  .span-first {
    background: linear-gradient(90deg, desaturate(darken(#4e4aff, 20%), 45%), #4e4aff);
    display: grid;
  }

  .inner {
    align-items: center;
    display: grid;
    justify-content: center;
    padding: 4rem 1.5rem;
  }

  svg {
    height: 29.97px;
    width: 150px;
  }

  .span-second {
    color: #d8d8d8;
    display: grid;
    padding: 50px 95px;
    place-items: center;

    @media (max-width: 1080px) {
      padding: 40px 28px;
    }

    p {
      font-family: $font-alt;
      font-size: 16px;
      line-height: 1.44;
      margin: 0;
    }

    a:not(.button):not(.post-edit-link) {
      color: lighten($color-blog-links, 25%);
      display: inline-block;
    }
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: #d8d8d8;
  }

  .title {
    font-family: $font-alt;
    font-size: 22px;
    margin: 0 0 1rem;
  }
}
