/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list, a11y/no-outline-none */
// Buttons
.content-area,
.site-footer {
  button,
  .button,
  input[type="reset"],
  input[type="submit"],
  input[type="button"] {
    background-color: transparent;
    border: 1px solid var(--color-black);
    border-radius: 50px;
    color: var(--color-black);
    cursor: pointer;
    display: inline-block;
    font-family: $font-base;
    font-size: 1.6rem;
    line-height: 1.77;
    margin-bottom: 1rem;
    opacity: .7;
    padding: 5px 25px;
    position: relative;
    text-decoration: none;
    transition: 150ms linear background;
    width: auto;

    &:hover,
    &:focus {
      background-color: var(--color-black);
      border-color: var(--color-black);
      color: var(--color-white);
    }

    &.button-ghost {
      background-color: transparent;
      border: 1px solid var(--color-black);
      color: var(--color-black);
    }

    &.button-ghost:hover,
    &.button-ghost:focus {
      background-color: var(--color-black);
      color: var(--color-white);
    }

    @media (max-width: $container-mobile) {
      // Wrap long buttons on mobile
      display: block;
      text-align: center;
    }
  }
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

// Gravity Forms clean ups
.gform_wrapper,
.gform_header,
.gform_footer {
  margin: 0;
  padding: 0;
}

.gform_body {
  li,
  div {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    padding-top: 0;
  }

  li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

textarea,
select,
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="search"] {
  @extend %default;
  appearance: none;
  background-color: transparent;
  border: 0;
  font-family: $font-base;
  line-height: 24px;
  margin-bottom: 0;
  padding: 15px 20px;
  position: relative;
  text-decoration: none;
  transition: background .55s;

  &::placeholder {
    color: var(--color-darkgrey);
    opacity: .4;
  }

  &:focus {
    background-color: var(--color-white-two);
    /* stylelint-disable-next-line */
    outline: 0;

    &::placeholder {
      opacity: .8;
    }
  }
}

select {
  appearance: none;
  background-image: url('../../svg/select.svg');
  background-position: right center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  min-width: 0;
  padding-right: 40px;
  text-indent: 1px;
  text-overflow: '';
  transition: none;
  width: 100%;

  &::-ms-expand {
    display: none;
  }

  &:hover,
  &:focus {
    border-color: var(--color-black-two);
  }
}

// General
form {
  p {
    margin-bottom: 20px;

    &.form-submit {
      margin-bottom: 0;
    }
  }

  // Search form
  &.search-form {
    .search-field {
      float: left;
      margin-right: 5px;
    }

    .search-submit {
      line-height: 1;
      padding: 19px 1.75em;
    }
  }
}

// Comment form
.comment-respond {
  overflow: visible;

  .comment-form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;

    p {
      line-height: 1;
      margin: 0;
    }

    textarea,
    input[type="text"],
    input[type="url"],
    input[type="email"] {
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }

    input[type="text"],
    input[type="url"],
    input[type="email"] {
      font-size: var(--font-size-16);
    }
  }

  .hidden-by-default {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 0;
  }

  .comment-form-author {
    margin-bottom: 20px;
    margin-top: 0;

    input {
      border-width: 1px;
      padding: 15px;
      width: 100%;
    }
  }

  .comment-form-email {
    clear: right;
    margin-bottom: 20px;
    margin-right: 0;
    margin-top: 0;

    input {
      border-width: 1px;
      padding: 15px;
      width: 100%;
    }
  }

  .comment-form-url {
    grid-column: 1 / -1;
    margin-bottom: 30px;
    margin-top: 0;
    position: relative;

    input {
      border-width: 1px;
      padding: 15px;
      width: 100%;
    }
  }

  .form-submit {
    clear: both;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
  }

  .comment-form-comment {
    grid-column: 1 / -1;
  }

  input {
    @media (max-width: $container-mobile) {
      width: 100%;
    }
  }

  textarea {
    width: 100%;
  }
}
