.block.block-four-posts .container {
  max-width: 1400px;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;

  > .post-head,
  > .post-feed {
    width: 100%;
  }

  .post-head {
    opacity: .3;
    order: 2;
    position: relative;
    margin: 0 20px;
    transition: all $transition-duration;

    &:hover {
      opacity: .5;
    }

    &:before {
      content: '';
      height: 1px;
      position: absolute;
      top: 0;
      left: 4px;
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 58%);
      width: 30%;
    }

    svg {
      position: absolute;
      top: -17px;
      left: -4px;
      width: 18px;
      height: 18px;
    }

    h2 {
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      padding-top: 1rem;
      padding-left: 1rem;
    }

    p {
      margin: 0;
      opacity: .8;
    }
  }
}

.post-feed {
  @include grid(2, $gutter_x: 10px, $gutter_y: 0px);
  margin-bottom: 30px;
  order: 1;

  .post-card-details {
    margin: 0;
    font-size: 13px;
    color: #ccc;
    opacity: 0;
    padding: 15px;
    z-index: 3;
    position: absolute;
    bottom: 0;
    transition: all $transition-duration;
  }

  .post-card-title {
    font-size: 17px;
    font-weight: 500;
    font-family: $font-alt;
    margin: 0 0 20px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    overflow: hidden;
  }

  .post-card-title a {
    text-decoration: none;
    font-family: $font-alt;
  }

  .post-card {
    background-color: transparent;
    position: relative;
    border-radius: 4px;

    &:hover .post-card-details {
      opacity: 1;
    }
  }

  .post-card-content {
    padding: 12px 15px 15px;
  }

  .post-card-image {
    position: relative;
    border-radius: 4px;

    &::after,
    img::after {
      border-radius: 4px;
    }
  }

  .post-card-image .img {
    @include background-cover();
    overflow: hidden;
    border-radius: 4px;
    min-height: 300px;
    height: auto;

    &:after {
      content: '';
      display: block;
      padding-bottom: 80%;
    }
  }
}
