.block.block-four-posts .container {
  overflow: visible;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 450px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  > .post-head,
  > .post-feed {
    width: 100%;
  }

  .post-feed .post-card-image.no-bottom-radius {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    * {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  .post-card-information {
    background: $color-white;
    margin-top: -3rem;
    padding: 7rem 4rem 4rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    p {
      font-size: 18px;
    }
  }

  .post-card-title-large {
    font-size: 27px;
    font-weight: 700;
    margin-top: 0;

    @media (max-width: $container-ipad) {
      font-size: 22px;
    }
  }

  .post-card-title-large a {
    text-decoration: none;
  }

  .post-feed {
    @include grid(2, $gutter_x: 40px, $gutter_y: 40px);
    margin-bottom: 30px;
    order: 1;

    @media (max-width: 600px) {
      display: block;
    }

    .post-card-details {
      margin: 0;
      font-size: 13px;
      color: #ccc;
      opacity: 0;
      padding: 15px;
      z-index: 3;
      position: absolute;
      bottom: 0;
      transition: all $transition-duration;
    }

    .post-card-title {
      font-size: 17px;
      font-weight: 500;
      font-family: $font-alt;
      margin: 0 0 20px;
      height: 50px;
      display: flex;
      align-items: flex-end;
      width: 100%;
      overflow: hidden;

      @media (max-width: 600px) {
        height: 80px;
        font-size: 16px;
        margin-bottom: 10px;
      }

      @media (max-width: 450px) {
        height: auto;
        margin-top: 40px;
        margin-bottom: 20px;
      }
    }

    .post-card-title a {
      text-decoration: none;
      font-family: $font-alt;
    }

    .post-card {
      background-color: transparent;
      position: relative;
      border-radius: 4px;

      &:hover .post-card-details {
        opacity: 1;
      }
    }

    .post-card-image {
      position: relative;
      border-radius: 4px;

      &::after,
      img::after {
        border-radius: 4px;
      }
    }

    .post-card-image .img {
      @include background-cover();
      overflow: hidden;
      border-radius: 4px;
      min-height: 300px;
      height: auto;

      &:after {
        content: '';
        display: block;
        padding-bottom: 80%;

        @media (max-width: 1000px) {
          padding-bottom: 130%;
        }

        @media (max-width: 600px) {
          padding-bottom: 120%;
        }
      }
    }
  }
}

.post-head {
  opacity: .3;
  order: 2;
  position: relative;
  margin: 20px 10px;
  transition: all $transition-duration;

  &.inverted {
    order: 1;
    margin-bottom: 6rem;

    svg {
      transform: rotate(-180deg);
      top: auto;
      left: -6px;
      bottom: -27px;
    }

    &:before {
      bottom: -10px;
      top: auto;
    }
  }

  &:hover {
    opacity: .5;
  }

  &:before {
    content: '';
    height: 1px;
    position: absolute;
    top: 0;
    left: 4px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 58%);
    width: 30%;
  }

  svg {
    position: absolute;
    top: -17px;
    left: -4px;
    width: 18px;
    height: 18px;
  }

  h2 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  p {
    margin: 0;
    opacity: .8;
  }
}
