/* stylelint-disable a11y/no-display-none, declaration-property-unit-allowed-list */
.single .site-head {
  display: none;
}

.hero-single {
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  max-height: 1300px;
  position: relative;
  min-height: 100vh;
  min-height: 100svh;

  .shade {
    /* stylelint-disable-next-line */
    background: linear-gradient(to bottom, rgba(#131517, .1), rgba(#131517, .75));
    opacity: 1;
  }

  .site-branding {
    left: 25px;
    position: absolute;
    top: 25px;
    z-index: 6;

    .site-title {
      margin: 0;

      svg {
        bottom: -2px;
        fill: rgb(var(--color-white-rgb) / .3);
        height: 60px;
        position: relative;
        transition: .66s all;
        width: 48px;
      }

      a:hover svg,
      a:focus svg {
        fill: rgb(var(--color-white-rgb) / 1);
      }
    }
  }

  .article-title-area {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: $article-max-width;
    padding-bottom: 8vh;
    width: 100%;
    z-index: 5;

    h1 {
      @include responsive-font(30px, 70px);
      color: var(--color-white);
      font-family: var(--font-heading);
      font-weight: var(--font-weight-semibold);
      line-height: 1.1;
    }

    @media (max-width: 600px) {
      padding-bottom: 6rem;
    }

    @media (max-width: $container-ipad) {
      padding-left: $padding-general-content-box-ipad;
      padding-right: $padding-general-content-box-ipad;
    }

    @media (max-width: $container-mobile) {
      padding-left: $padding-default-cols-mobile;
      padding-right: $padding-default-cols-mobile;
    }
  }

  .article-description {
    color: var(--color-white);
    font-size: var(--font-size-18);

    a {
      box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / .5), inset 0 -2px 0 0 rgb(0 0 0 / 0);
      color: var(--color-white);
      text-transform: lowercase;
      transition: .55s all;

      &:hover,
      &:focus {
        box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / .8), inset 0 -2px 0 0 rgb(var(--color-black-rgb) / 0);
      }
    }

    &::before {
      background-color: var(--color-white);
      content: '';
      display: block;
      height: 2px;
      margin: 40px 0;
      width: 80px;

      @media (max-width: $container-mobile) {
        margin: 20px 0;
      }
    }

    @media (max-width: $container-mobile) {
      font-size: 16px;
    }
  }
}

.nav-article-wrapper {
  border-bottom: 1px solid var(--color-border-light);

  .container.container-nav-article {
    margin-bottom: 0;
    margin-top: 0;
    max-width: $article-max-width;
    padding-bottom: 0;
    padding-top: 0;

    #nav.nav-article ul li a {
      color: var(--color-black);
      font-family: $font-alt;
      font-weight: 400;
    }

    #nav.nav-article ul li.current-menu-item a,
    #nav.nav-article ul li.current_page_item a {
      border-bottom: 1px solid var(--color-black);
      margin-bottom: -1px;
      margin-top: 0;
      opacity: 1;
    }
  }
}

.nav-article {
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: auto;
  padding: 0;
  text-align: center;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      line-height: 2;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 10px;
      margin-top: 0;
      padding: 0;

      &:last-child {
        margin-right: 0;
      }

      &.current-menu-item a,
      &.current_page_item a {
        border-top: 1px solid var(--color-white);
        margin-top: -1px;
        opacity: 1;
      }

      a {
        display: block;
        font-family: $font-headings;
        font-size: 14px;
        font-weight: var(--font-weight-500);
        opacity: .7;
        padding: 9px;
        text-decoration: none;
      }

      a:hover,
      a:focus {
        opacity: 1;
      }
    }
  }
}

.scroll-indicator {
  bottom: 20px;
  display: block;
  height: 120px;
  opacity: .5;
  overflow: hidden;
  position: absolute;
  right: 20px;
  transition: all .55s;
  width: 40px;
  z-index: 3;

  &:hover,
  &:focus {
    opacity: .8;
  }

  &.fadeout {
    /* stylelint-disable-next-line */
    animation: fadeOutUpShort 1000ms;
    opacity: 0;
  }

  .animated-mouse {
    display: block;
  }

  .swiping-hand {
    /* stylelint-disable-next-line */
    animation: fadeOutUp 3s infinite;
    display: none;
    height: 55px;
    width: 35px;

    svg {
      bottom: -60px;
      // Because of the dark background this always needs to be white regardless of color theme
      // stylelint-disable-next-line
      fill: #fff;
      height: 65px;
      left: -10px;
      position: relative;
      width: 52px;
    }
  }

  @media (max-width: 760px) {
    .animated-mouse {
      display: none;
    }

    .swiping-hand {
      display: block;
    }
  }
}

.animated-mouse {
  @include horizontal-align();
  background-color: transparent;
  // Because of the dark background this always needs to be white regardless of color theme
  // stylelint-disable-next-line
  border: 2px solid #fff;
  border-radius: 14px;
  bottom: 5px;
  height: 47px;
  position: absolute;
  width: 27px;

  a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .animated-mouse-pointer {
    animation-delay: .5s;
    animation-direction: normal;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    /* stylelint-disable-next-line */
    animation-name: mousePointer;
    animation-timing-function: linear;
    // Because of the dark background this always needs to be white regardless of color theme
    // stylelint-disable-next-line
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    left: 49%;
    position: absolute;
    top: 70%;
    transform: translate(-50%, 0);
    width: 6px;
  }

  @media (max-width: $container-mobile) {
    display: none;
  }
}
