.block.block-hero {
  h1 {
    @include responsive-font(22px, 46px);
    margin: 0;
    color: $color-headings;
  }

  .page-head {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13vw 0;
    width: 70%;
    margin: auto;
    text-align: center;
    position: relative;
  }
}
