.log-header {
  background-color: var(--color-white);
  border: 0;
  border-left: 3px solid var(--color-accent);
  border-radius: 4px;
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
  padding: 2.4rem;

  p {
    font-size: var(--font-size-14);
    margin: 0;
  }

  .h2 {
    color: var(--color-darkgrey);
    display: inline-flex;
    font-size: var(--font-size-15);
    font-weight: 600;
    gap: .8rem;
    margin: 0 0 1rem !important;
    text-transform: uppercase;
  }

  a,
  p {
    color: var(--color-darkgrey);
  }

  a {
    @include link();
    color: var(--color-darkgrey);
    text-decoration-color: var(--color-darkgrey);
  }

  // stylelint-disable
  @media (max-width: 720px) {
    margin: 0 2rem !important;
    margin-top: 4rem;
  }
}

body.single-diary .log-header {
  margin-bottom: 6rem !important;
}
