.block.block-recent-posts .container,
.block-archive-all .posts-feed-all {
  display: flex;
  flex-wrap: wrap;

  > .post-head,
  > .post-feed-simplified {
    width: 100%;
  }

  ul,
  li {
    margin: 0;
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid $color-border-light;
    position: relative;

    a.global-link:not(.button):not(.post-edit-link) {
      width: 100%;
      height: 100%;
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
      background: none;
      box-shadow: none;
    }

    a.global-link:not(.button):not(.post-edit-link):hover {
      background: none;
    }
  }

  li:first-child {
    border-top: 1px solid $color-border-light;
  }

  li:hover {
    p {
      opacity: .3;
    }

    h3 a {
      opacity: .6;
    }
  }

  p {
    font-family: $font-alt;
    flex: 0 0 25%;
    max-width: 25%;
    margin: 0;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: .5;
  }

  h3 {
    @extend %default;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    flex: 0 0 75%;
    max-width: 75%;
    line-height: 1.55;
  }

  a {
    text-decoration: none;
  }
}
