.block.block-recent-posts .container,
.block-archive-all .posts-feed-all {
  display: flex;
  flex-wrap: wrap;

  .month {
    font-size: var(--font-size-20);
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  > .post-head,
  > .post-feed-simplified {
    width: 100%;
  }

  .post-card-title a,
  .post-card-title {
    color: var(--color-shark);
    font-weight: var(--font-weight-semibold);
  }

  .post-card-details,
  .post-card-details time {
    font-weight: var(--font-weight-regular);
  }

  li:hover .post-card-title,
  li:focus .post-card-title,
  li:hover .post-card-title a,
  li:focus .post-card-title a {
    color: var(--color-accent-hover) !important;
  }

  > .post-feed-simplified {
    margin-bottom: 4rem;
    margin-left: 0;
    padding-left: 0;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
  }

  li {
    align-items: center;
    border-bottom: 1px solid var(--color-border-light);
    display: flex;
    padding: 15px 0;
    position: relative;

    a.global-link:not(.button):not(.post-edit-link) {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 3;
    }

    a.global-link:not(.button):not(.post-edit-link):hover,
    a.global-link:not(.button):not(.post-edit-link):focus {
      background-color: transparent;
    }
  }

  li:first-child {
    border-top: 1px solid var(--color-border-light);
  }

  p {
    flex: 0 0 25%;
    font-family: $font-alt;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    max-width: 25%;
    text-transform: uppercase;

    @media (max-width: $article-max-width + 40px) {
      flex: 0 0 30%;
      max-width: 30%;
    }
  }

  .post-card-title {
    @extend %default;
    color: var(--color-heading);
    flex: 0 0 75%;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 1.55;
    margin: 0;
    max-width: 75%;

    a {
      color: var(--color-heading);
    }

    @media (max-width: $article-max-width + 40px) {
      flex: 0 0 70%;
      margin-left: 2rem;
      max-width: 70%;
    }
  }

  a {
    text-decoration: none;
  }
}
