.site-footer .container {
  margin-bottom: 8rem;
  margin-top: 8rem;
  padding-bottom: 0;
  padding-top: 0;

  .footer-space {
    border-top: 1px solid var(--color-border-light);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 5rem;

    @media (max-width: 890px) {
      display: block;
    }
  }

  a,
  p {
    color: var(--color-light-blue);
    margin: 0;
  }

  ul,
  p {
    flex: 1;
  }

  p {
    text-align: right;

    @media (max-width: 950px) {
      font-size: 15px;
    }

    @media (max-width: 890px) {
      text-align: center;
    }
  }

  a:hover,
  a:focus {
    opacity: .6;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
      margin-right: 15px;

      @media (max-width: 450px) {
        margin-bottom: 5px;
        margin-left: 7.5px;
        margin-right: 7.5px;
      }
    }

    svg {
      height: 19px;
      width: 19px;
    }

    @media (max-width: 450px) {
      margin: 0 auto;
      max-width: 70%;
    }

    @media (max-width: 890px) {
      font-size: 15px;
      justify-content: center;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  }
}
