// stylelint-disable scale-unlimited/declaration-strict-value
@import 'magic.css/assets/scss/bling/puffIn';
@import 'magic.css/assets/scss/bling/vanishOut';
@import 'magic.css/assets/scss/math/swashOut';

.showing {
  // The time needs to be the same than in js: ownAd.classList.add('closing');
  animation-duration: 400ms;
  animation-iteration-count: 1;
  /* stylelint-disable-next-line */
  animation-name: puffIn;
  animation-timing-function: linear;
}

body .site-main .telegram-group.closing {
  // The time needs to be the same than in js: ownAd.classList.add('closing');
  animation-duration: 400ms;
  animation-iteration-count: 1;
  /* stylelint-disable-next-line */
  animation-name: vanishOut;
  animation-timing-function: linear;
}

/* stylelint-disable-next-line */
body .site-main .telegram-group.dismissed {
  display: none;
}

body .site-main .article-content > .telegram-group,
body .site-main .telegram-group {
  // stylelint-disable-next-line
  background-color: #08c;
  border: 0;
  border-radius: 8px;
  color: #fff !important;
  grid-gap: 2rem;
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
  padding: 2.4rem;

  &.done,
  &.showing {
    display: grid;
  }

  .tg {
    display: inline-flex;
    gap: 1rem;

    svg {
      min-width: 24px;
    }
  }

  button.hide-forever:focus,
  button.hide-forever:hover {
    opacity: 1;
  }

  .buttons {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    // stylelint-disable a11y/font-size-is-readable
    .button-yes,
    button.hide-forever {
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 20px;
      display: block !important;
      font-size: 14px;
      line-height: 1;
      margin: 0;
      padding: 8px 20px;
      text-align: center;
      text-decoration: none;
      transition: all .22s;
      white-space: nowrap;
      width: 100%;

      &:focus,
      &:hover {
        background-color: #fff;
        // stylelint-disable-next-line
        color: #08c !important;
      }
    }
  }

  h2 {
    color: #fff !important;
    display: inline-flex;
    font-size: var(--font-size-15);
    gap: .8rem;
    margin: 0 0 1.2rem;
    text-transform: uppercase;
  }

  p {
    font-size: var(--font-size-14);
    margin: 0;
  }

  a,
  p {
    color: #fff !important;
  }

  @media (max-width: 646px) {
    span.hide-on-mobile {
      display: none;
    }
  }

  // stylelint-disable
  @media (max-width: 720px) {
    margin: 0 2rem !important;
    margin-top: 4rem;
  }
}

body.single-diary .telegram-group {
  margin-bottom: 6rem !important;
}

body.single-post .article-content > .telegram-group {
  margin-top: 4rem !important;
  width: calc(100% - 4rem);
}
