.block.block-upsell-big .container {
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;

  @media (max-width: 450px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .global-tag {
    font-size: 10px;
    background: $color-headings;
    color: $color-white;
    font-family: $font-alt;
    display: inline-block;
    margin: 0 2px 1px 0;
    padding: 5px 10px;
    transition: all .15s ease;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-radius: 20px;
    margin-bottom: 15px;

    svg {
      width: 12px;
      height: 12px;
      margin: 0 2px -2px 0;
    }
  }

  > .post-head,
  > .post-feed {
    width: 100%;
  }

  .post-feed .post-card-image.no-bottom-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    * {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .post-card-information {
    background: $color-white;
    padding: 4rem;

    @media (min-width: 590px) {
      margin-top: -3rem;
      padding: 5rem 6rem;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      bottom: 60px;
      margin: 0;
      position: absolute;
      right: 0;
      width: 580px;
    }

    @media (max-width: 400px) {
      padding: 4rem 3rem;
    }

    p {
      font-size: 18px;

      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }

  .post-card-title-large {
    font-size: 27px;
    font-weight: 700;
    margin-top: 0;

    @media (max-width: $container-ipad) {
      font-size: 22px;
    }

    @media (max-width: 400px) {
      font-size: 20px;
    }
  }

  .post-card-title-large a {
    text-decoration: none;
  }

  .post-feed {
    margin-bottom: 30px;
    order: 1;

    .post-card-details {
      margin: 0;
      font-size: 13px;
      color: #ccc;
      opacity: 0;
      padding: 15px;
      z-index: 3;
      position: absolute;
      bottom: 0;
      transition: all $transition-duration;
    }

    .post-card-title {
      font-size: 17px;
      font-weight: 500;
      font-family: $font-alt;
      margin: 0 0 20px;
      height: 50px;
      display: flex;
      align-items: flex-end;
      width: 100%;
      overflow: hidden;

      @media (max-width: 600px) {
        height: 80px;
        font-size: 16px;
        margin-bottom: 10px;
      }

      @media (max-width: 450px) {
        height: auto;
        margin-top: 40px;
        margin-bottom: 20px;
      }
    }

    .post-card-title a {
      text-decoration: none;
      font-family: $font-alt;
    }

    .post-card {
      background-color: transparent;
      position: relative;
      border-radius: 4px;

      &:hover .post-card-details {
        opacity: 1;
      }
    }

    .post-card-image {
      position: relative;
      border-radius: 4px;

      &::after,
      img::after {
        border-radius: 4px;
      }
    }

    .post-card-image .img {
      @include background-cover();
      overflow: hidden;
      border-radius: 4px;
      min-height: 300px;
      height: auto;

      &:after {
        content: '';
        display: block;
        padding-bottom: 60%;

        @media (max-width: 1200px) {
          padding-bottom: 90%;
        }

        @media (max-width: 1000px) {
          padding-bottom: 130%;
        }

        @media (max-width: 590px) {
          padding-bottom: 80%;
        }
      }
    }
  }
}
