.block.block-four-posts.block-upsells .container {
  .post-feed {
    @include grid(4, $gutter_x: 40px, $gutter_y: 0px);
  }

  .post-feed .post-card-image .img:after {
    content: '';
    display: block;
    padding-bottom: 130%;
  }

  .post-card-title {
    height: 80px;
  }
}
