/* stylelint-disable number-max-precision */
.block.block-who {
  .container {
    padding-top: 5.2rem;
  }

  h3 {
    margin-top: 0;
  }

  .cols {
    @include grid(3, $gutter_x: 30px, $gutter_y: 0);
    border-top: 1px solid var(--color-border-light);
    padding-top: 5rem;

    @media (max-width: 1000px) {
      @include grid(3, $gutter_x: 15px, $gutter_y: 0);
    }

    @media (max-width: 900px) {
      @include grid(2, $gutter_x: 15px, $gutter_y: 15px);
    }

    @media (max-width: 400px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .cols .col.col-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin: 0;
    }

    a {
      border: 0;
      border-radius: 3px;
      display: inline-block;
      font-family: $font-alt;
      font-size: .6666666667em;
      font-weight: 700;
      letter-spacing: .2em;
      opacity: .6;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover,
    a:focus {
      opacity: .3;
    }
  }

  .instagram {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    position: relative;
    transition: all .88s;

    &:hover,
    &:focus {
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      /* stylelint-disable-next-line */
      animation-name: floating;
      animation-timing-function: ease-in-out;
      transform: translate3d(0, 0, 0);
    }
  }

  .instagram-1 {
    height: 100%;
    width: 100%;

    &::after {
      content: '';
      display: block;
      padding-bottom: 80%;
    }
  }

  .col.col-images-multiple {
    @include grid(2, $gutter_x: 30px, $gutter_y: 30px);

    @media (max-width: 1000px) {
      @include grid(2, $gutter_x: 15px, $gutter_y: 15px);
    }

    @media (max-width: 400px) {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    p {
      font-size: 17px;
    }
  }

  @media (max-width: 900px) {
    .cols .col.col-content {
      grid-column: 1 / -1;
      grid-row: 2;
      padding-top: 12px;
      width: 100%;

      a {
        margin-top: 37px;
      }

      @media (max-width: 400px) {
        order: 2;
      }
    }
  }

  @media (max-width: 400px) {
    .col.col-images {
      display: block;
      height: 215px;
      margin-bottom: 2rem;
      order: 1;
      width: 100%;
    }
  }
}
