.transition-fade {
  transition: .25s;
  opacity: 1;
  animation: slideUp .9s cubic-bezier(.075, .82, .165, 1) forwards;
  transform: translate3d(0, 4vh, 0);
}

html.is-animating .transition-fade {
  opacity: 0;
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 4vh, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUpShort {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes mousePointer {
  0% {
    opacity: 0;
    top: 20%;
  }

  20% {
    opacity: 1;
    top: 20%;
  }

  40% {
    opacity: 1;
    top: 20%;
  }

  60% {
    opacity: 1;
    top: 70%;
  }

  61% {
    opacity: 1;
    top: 70%;
  }

  67% {
    opacity: 0;
    top: 70%;
  }

  100% {
    opacity: 0;
    top: 70%;
  }
}

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
