/* stylelint-disable no-unknown-animations, property-disallowed-list, a11y/no-display-none, a11y/no-outline-none */
// Built to work with:
// https://fi.wordpress.org/plugins/breadcrumb-trail/
// https://github.com/digitoimistodude/air
.breadcrumbs {
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;

  .trail-items {
    display: block;
    line-height: 1.22;
    margin-bottom: 1.5rem;
    margin-top: 0;
    overflow: hidden;
  }

  .trail-items li {
    background-color: transparent;
    color: var(--color-black);
    font-family: $font-base;
    font-size: 15px;
    font-weight: $body-weight;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    opacity: .8;
    padding-left: 1rem;
    padding-top: 0;
    position: relative;
    text-transform: uppercase;
  }

  .trail-items .trail-item {
    margin-right: 1.5rem;

    &.trail-end {
      color: var(--color-black);
      margin-right: 0;

      span {
        color: var(--color-black);
      }

      @media (max-width: $container-mobile) {
        position: relative;
        top: 1px;
      }
    }
  }

  .trail-begin {
    padding-left: 0;
  }

  li:hover,
  li:focus {
    opacity: 1;
  }

  a {
    color: var(--color-black);

    &:hover,
    &:focus {
      color: var(--color-black);
    }
  }

  li::after {
    @include hiddentext();
    background-image: url('../../svg/breadcrumbs-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 9px 9px;
    color: var(--color-black);
    display: inline-block;
    font-size: 15px;
    height: 9px;
    margin-left: .8rem;
    margin-right: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
    width: 9px;

    // IE10 + IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      transform: translateY(-37%);
    }
  }
}
