.post-card-image .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all ease-in-out .5s;

  // Hack to fix webkit bug
  transform: translateZ(0);
}

.post-card-image {
  transition: all .88s;
  transform: translate3d(0, 0, 0);
  isolation: isolate;
}

.post-card:not(.no-animation):hover .post-card-image {
  color: rgba(0, 0, 0, .75);
  box-shadow: 0 12px 28px rgba(0, 0, 0, .15), 0 5px 10px rgba(0, 0, 0, .15);
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform: translate3d(0, 0, 0);
}

@keyframes floating {
  from {
    transform: translate(0, 0px) translate3d(0, 0, 0);
  }

  65% {
    transform: translate(0, -10px) translate3d(0, 0, 0);
  }

  to {
    transform: translate(0, -0px) translate3d(0, 0, 0);
  }
}

/* Color Overlay position */
.post-card-image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all ease-in-out .5s;
}

/* Removed effects to show original on hover */
.post-card:hover .post-card-image::after,
.post-card:hover .post-card-image,
.post-card:hover .post-card-image .img {
  filter: none;
  mix-blend-mode: unset !important;
  background-color: transparent;
  background-image: none;
}

.green,
.duotone-1 {
  background-color: #00ff36;
}

.green .img,
.duotone-1 .img {
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
}

.green::after,
.duotone-1::after {
  background-color: #23278a;
  mix-blend-mode: lighten;
}

.red-purple,
.duotone-2 {
  background-color: #e41c2d;
}

.red-purple .img,
.duotone-2 .img {
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(.8);
}

.red-purple::after,
.duotone-2::after {
  background-color: #1d3162;
  mix-blend-mode: lighten;
}

.retro,
.duotone-3 {
  background-color: #f1e3a0;
}

.retro .img,
.duotone-3 .img {
  mix-blend-mode: darken;
  filter: grayscale(100%) contrast(2);
}

.retro::after,
.duotone-3::after {
  background: linear-gradient(180deg, #f430a9, #f2e782);
  mix-blend-mode: lighten;
}

.vintage,
.duotone-4 {
  background-color: #caeaf2;
}

.vintage .img,
.duotone-4 .img {
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1.5);
}

.vintage::after,
.duotone-4::after {
  background-color: #2cd6e1;
  mix-blend-mode: lighten;
}

.blue-light,
.duotone-5 {
  background-color: #181e59;
}

.blue-light .img,
.duotone-5 .img {
  mix-blend-mode: lighten;
  filter: grayscale(100%) contrast(.8);
}

.blue-light::after,
.duotone-5::after {
  background-color: #e7e1a6;
  mix-blend-mode: multiply;
}

.blue,
.duotone-6 {
  background-color: #77acd4;
}

.blue .img,
.duotone-6 .img {
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1.2);
}

.blue::after,
.duotone-6::after {
  background-color: #033dc5;
  mix-blend-mode: lighten;
}

.dark-red,
.duotone-7 {
  background-color: #ed060b;
}

.dark-red .img,
.duotone-7 .img {
  filter: grayscale(100%) contrast(1.2);
  mix-blend-mode: lighten;
}

.dark-red::after,
.duotone-7::after {
  background-color: #70e4ee;
  mix-blend-mode: multiply;
}

.flat-retro,
.duotone-8 {
  background-color: #fca300;
}

.flat-retro .img,
.duotone-8 .img {
  mix-blend-mode: darken;
  filter: grayscale(100%) contrast(1.5);
}

.flat-retro::after,
.duotone-8::after {
  background-color: #e23241;
  mix-blend-mode: lighten;
}

.teal,
.duotone-9 {
  background-color: #d7a621;
}

.teal .img,
.duotone-9 .img {
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1.2);
}

.teal::after,
.duotone-9::after {
  background-color: #0c6249;
  mix-blend-mode: lighten;
}

.purple,
.duotone-10 {
  background-color: #88169d;
}

.purple .img,
.duotone-10 .img {
  filter: grayscale(100%) contrast(1.2);
  mix-blend-mode: lighten;
}

.purple::after,
.duotone-10::after {
  mix-blend-mode: hard-light;
  background: linear-gradient(to top left, #75d775, #321a5b);
}

.pink,
.duotone-11 {
  background-color: #fca300;
}

.pink .img,
.duotone-11 .img {
  mix-blend-mode: darken;
}

.pink::after,
.duotone-11::after {
  background: #282581;
  mix-blend-mode: lighten;
  filter: contrast(1.1);
}

.yellow,
.duotone-12 {
  background-color: #e0de2c;
}

.yellow .img,
.duotone-12 .img {
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(.8);
}

.yellow::after,
.duotone-12::after {
  background-color: #b71310;
  mix-blend-mode: lighten;
}

.orange,
.duotone-13 {
  background-color: #f65e35;
}

.orange .img,
.duotone-13 .img {
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1.2);
}

.orange::after,
.duotone-13::after {
  background-color: #1e3265;
  mix-blend-mode: lighten;
}

.blue-red,
.duotone-14 {
  background-color: #e50914;
}

.blue-red .img,
.duotone-14 .img {
  filter: grayscale(100%) contrast(1.2);
  opacity: .8;
}

.blue-red::after,
.duotone-14::after {
  mix-blend-mode: lighten;
  filter: contrast(1.1);
  background-color: #282581;
}

.gold,
.duotone-15 {
  background-color: #367abd;
}

.gold .img,
.duotone-15 .img {
  mix-blend-mode: lighten;
  filter: grayscale(100%) contrast(.8);
}

.gold::after,
.duotone-15::after {
  background-color: #f9ed3a;
  mix-blend-mode: multiply;
}
