.post-card-image .img {
  display: block;
  height: 100%;
  object-fit: cover;

  // Hack to fix webkit bug
  transform: translateZ(0);
  transition: all ease-in-out .5s;
  width: 100%;
}

.post-card-image {
  isolation: isolate;
  transform: translate3d(0, 0, 0);
  transition: all .88s;
}

.post-card:not(.no-animation):hover .post-card-image,
.post-card:not(.no-animation):focus .post-card-image {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: floating;
  animation-timing-function: ease-in-out;
  box-shadow: 0 12px 28px rgb(0 0 0 / .15), 0 5px 10px rgb(0 0 0 / .15);
  color: rgb(0 0 0 / .75);
  transform: translate3d(0, 0, 0);
}

@keyframes floating {
  from {
    transform: translate(0, 0) translate3d(0, 0, 0);
  }

  65% {
    transform: translate(0, -10px) translate3d(0, 0, 0);
  }

  to {
    transform: translate(0, -0) translate3d(0, 0, 0);
  }
}

/* Color Overlay position */
.post-card-image::after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all ease-in-out .5s;
  width: 100%;
}

/* Removed effects to show original on hover */
.post-card:hover .post-card-image::after,
.post-card:hover .post-card-image,
.post-card:hover .post-card-image .img,
.post-card:focus .post-card-image::after,
.post-card:focus .post-card-image,
.post-card:focus .post-card-image .img {
  background-color: transparent;
  background-image: none;
  filter: none;
  mix-blend-mode: unset !important;
}
