// Hide SPAM Honeypot fields
// stylelint-disable-next-line a11y/no-display-none
.gform_validation_container {
  display: none;
}

// stylelint-disable
#gform_wrapper_2 {
  .gform_title {
    font-size: 18px;
    font-weight: var(--font-weight-semibold);
  }

  // Select drop downs
  select {
    // doiuse-disable
    appearance: none;
    background-image: url('../../svg/select.svg');
    background-position: right var(--gap-select-icon) center;
    background-repeat: no-repeat;
    background-size: 11px auto;
    border-color: var(--color-border-forms);
    border-radius: var(--border-radius-select);
    border-style: solid;
    border-width: var(--border-width-input-field);
    color: var(--color-form-text);
    font-size: var(--font-size-input-fields);
    line-height: var(--form-line-height);
    max-width: 100%;
    min-width: 0;
    padding-bottom: var(--form-padding-vertical);
    padding-left: var(--form-padding-horizontal);
    padding-right: var(--form-padding-horizontal);
    padding-top: var(--form-padding-vertical);
    text-indent: 1px;
    transition: none;
    width: 100%;
  }

  // Labels
  legend,
  label {
    color: var(--color-form-label-text);
    font-size: var(--font-size-input-fields);
  }

  // Form input elements and textareas
  textarea,
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="number"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="search"] {
    @extend %default;
    background-color: var(--color-background-input-field);
    border-color: var(--color-border-forms);
    border-radius: var(--border-radius-input-field);
    border-style: solid;
    border-width: var(--border-width-input-field);
    color: var(--color-form-text);
    font-family: var(--font-paragraph);
    font-size: var(--font-size-input-fields);
    line-height: var(--form-line-height);
    margin-bottom: 0;
    padding-bottom: var(--form-padding-vertical);
    padding-left: var(--form-padding-horizontal);
    padding-right: var(--form-padding-horizontal);
    padding-top: var(--form-padding-vertical);
    position: relative;
    text-decoration: none;
    transition: background .55s;

    &::placeholder {
      color: var(--color-placeholder);
      opacity: var(--opacity-placeholder);
    }

    &:focus {
      background-color: var(--color-background-input-field);
      border-color: var(--color-border-forms-focus);
      color: var(--color-form-text);

      &::placeholder {
        color: var(--color-placeholder-focus);
        opacity: var(--opacity-placeholder-focus);
      }
    }
  }

  // Gravity forms styles >= 2.5
  // Please disable CSS in /admin.php?page=gf_settings

  // WCAG 2.0 errors
  // stylelint-disable selector-class-pattern
  div.validation_error {
    background-color: var(--color-error);
    color: var(--color-white);
    font-size: var(--font-size-17);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--form-gap);
    padding: 2rem;

    &:focus {
      color: var(--color-white);
    }
  }

  body *[aria-invalid="true"] {
    border-color: var(--color-error);
  }

  .validation_message {
    color: var(--color-error);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
  }

  .validation_list {
    list-style: none;
    margin-bottom: var(--form-gap);
    margin-left: 0;
    padding: 0;

    a {
      color: var(--color-error);
      text-decoration: none;
    }

    li {
      color: var(--color-error);
      font-weight: var(--font-weight-bold);
    }
  }

  // Form screen reader texts
  .gform_required_legend,
  .sr-only {
    @extend %screen-reader-text;
  }

  // Default required label
  .gfield_required.gfield_required_asterisk {
    color: var(--color-accent);
    font-size: var(--font-size-required-asterisk-label);
    position: absolute;
  }

  .gfield_required.gfield_required_asterisk,
  .gfield_required.gfield_required_text {
    color: var(--color-accent);
  }

  .gfield_required.gfield_required_text {
    font-size: var(--font-size-required-text-label);
  }

  // Gravity forms minimal default styles
  .gform_wrapper > form {
    display: grid;
    grid-gap: var(--form-gap);
  }

  .gform-body {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    textarea,
    input {
      width: 100%;
    }

    // Fix textarea not full width
    .ginput_container.ginput_container_textarea {
      display: flex;
    }

    .gfield_label {
      display: inline-flex;
      font-size: var(--font-size-14);
      font-weight: var(--font-weight-semibold);
      gap: var(--form-required-gap);
      margin-bottom: 1rem;
      margin-top: 1rem;
      padding-inline-end: 0;
      padding-inline-start: 0;
    }

    // 2.5 built-in multi column support
    .gform_fields {
      display: grid;
      grid-gap: var(--form-gap);
      // doiuse-disable
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(auto-fill, auto);
      width: 100%;
    }

    .gfield {
      border: 0;
      grid-column: 1 / -1;
      padding: 0;
    }

    .gfield.gfield--width-full {
      grid-column: span 12;
    }

    .gfield.gfield--width-eleven-twelfths {
      grid-column: span 11;
    }

    .gfield.gfield--width-five-sixths {
      grid-column: span 10;
    }

    .gfield.gfield--width-three-quarter {
      grid-column: span 9;
    }

    .gfield.gfield--width-two-thirds {
      grid-column: span 8;
    }

    .gfield.gfield--width-seven-twelfths {
      grid-column: span 7;
    }

    .gfield.gfield--width-half {
      grid-column: span 6;
    }

    .gfield.gfield--width-five-twelfths {
      grid-column: span 5;
    }

    .gfield.gfield--width-third {
      grid-column: span 4;
    }

    .gfield.gfield--width-quarter {
      grid-column: span 3;
    }

    @media (max-width: 640px) {
      .gform_fields {
        grid-column-gap: 0;
      }

      .gfield:not(.gfield--width-full) {
        grid-column: 1 / -1;
      }
    }
  }

  .gchoice {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;

    label {
      font-size: var(--font-size-14);
    }

    input[type="checkbox"] {
      width: auto;
    }
  }
}
