.load-more-spinner {

  // It loads so fast we don't need it
  display: none !important;
  height: 166px;
  order: 3;
  overflow: hidden;
  padding-top: 6rem;
  text-align: center;
  width: 100%;
}

.load-more-container {
  background: linear-gradient(hsla(0, 0%, 100%, 0), #fff);
  height: 320px;
  margin-top: -280px;
  order: 4;
  pointer-events: none;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;

  .button.load-more {
    background: transparent;
    border: 2px solid $color-body;
    border-radius: 52px;
    bottom: 0;
    color: $color-body;
    font-size: 18px;
    font-weight: 300;
    left: 50%;
    line-height: 1;
    margin-left: -90px;
    opacity: .4;
    padding: 14px 20px 13px;
    pointer-events: auto;
    position: absolute;
    text-decoration: none;
    transition: background 80ms linear, opacity 1s linear;
    white-space: nowrap;
    width: 180px;

    &:hover,
    &:focus {
      opacity: .8;
    }
  }
}

// https://codepen.io/jczimm/pen/vEBpoL
$green: $color-links;
$blue: $color-links;
$red: $color-links;
$yellow: $color-links;
$white: $color-links;

// scaling... any units
$width: 50px;

.loader {
  margin-bottom: 6.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  position: relative;
  width: $width;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center center;
  width: 100%;
}

.path {
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }

  40% {
    stroke: $blue;
  }

  66% {
    stroke: $green;
  }

  80%,
  90% {
    stroke: $yellow;
  }
}
