code[class*="language-"] {
  background-color: transparent;
  border: 0;
  color: #f8f8f2;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  text-shadow: 0 1px rgb(var(--color-black-rgb) / .3);
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

pre[class*="language-"] {
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  color: #f8f8f2;
  hyphens: none;
  line-height: 1.5;
  overflow: auto;
  tab-size: 4;
  text-align: left;
  text-shadow: 0 1px rgb(var(--color-black-rgb) / .3);
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;

  code {
    border-radius: 4px;
  }

  @media (max-width: 1111px) {
    margin: .5em 0;
  }
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #232830;
}

:not(pre) > code[class*="language-"] {
  border-radius: 0;
  white-space: normal;
}

.namespace {
  opacity: .7;
}

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: #708090;
  }

  &.punctuation {
    color: #f8f8f2;
  }

  &.property,
  &.tag,
  &.constant,
  &.symbol,
  &.deleted {
    color: #f92672;
  }

  &.boolean,
  &.number {
    color: #ae81ff;
  }

  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: #a6e22e;
  }

  &.operator,
  &.entity,
  &.url {
    color: #f8f8f2;
  }

  &.variable {
    color: #f8f8f2;
  }

  &.atrule,
  &.attr-value,
  &.function {
    color: #e6db74;
  }

  &.keyword {
    color: #66d9ef;
  }

  &.regex {
    color: #fd971f;
  }

  &.important {
    color: #fd971f;
    font-weight: var(--font-weight-bold);
  }

  &.bold {
    font-weight: var(--font-weight-bold);
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}

.language-css .token.string,
.style .token.string {
  color: #f8f8f2;
}
