@mixin link() {
  color: var(--color-accent);
  display: inline !important;
  font-weight: var(--font-weight-500);
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  transition: all .18s ease-in-out;

  &:focus,
  &:hover {
    color: var(--color-accent-hover);
    text-decoration-color: var(--color-accent-hover);
  }
}
