
// Breakpoints
$grid-type: fluid; // 'fluid' or 'snappy'
$layout-max-width: 100%;

// Container settings
$container-default-pad-x: 2rem; // Default padding between containers horizontally. Tweak _general.scss if needed.
$container-default-pad-y: 6.4rem; // Default vertical padding for containers
$grid-base-size: 1300px; // Layout container max width on desktop. This is default .container size
$article-max-width: 800px; // Max width for articles (see also $content_width in functions.php!)
$container-mobile: 480px;
$container-ipad: 770px;
$container-ipad-landscape: 1024px;
$container-desktop: 1200px;

// Where navigation transforms into responsive - scale your window width down to test
$responsivenav: 960px;

// New
$width-max-article: $article-max-width;
$width-grid-base: $responsivenav;

// Gutenberg widths
$width-wide: 1200px;
$width-full: 100%;
