// Colors
:root {
  --color-black: #141414;
  --color-black-two: #222;
  --color-black-three: #333;
  --color-black-rgb: 0 0 0;
  --color-darkgrey: #4f5964;
  --color-grey: #666;
  --color-grey-two: #777;
  --color-light-blue: #9b9ba8;
  --color-hover: #141414;
  --color-outline-overlay-items: #ff848a;
  --color-paragraph: #141414;
  --color-white: #fff;
  --color-white-two: #fafafa;
  --color-white-three: #f2f2f2;
  --color-white-rgb: 255 255 255;
  --color-red: #cb3939;
  --color-red-brighter: #df6060;
  --color-border-light: #e9e9ec;
  --color-shadows: #b8bbb3;
  --color-rain: #4d5ca1;
  --color-alt: #4d5787;
  --color-accent: #3886e1;
  --color-accent-hover: #17459e;
  --color-code-old: #c7254e;
  --color-code-background-old: #f9f2f4;
  --color-code: var(--color-accent);
  --color-code-background: #f2f6f9;
  --color-light-grey: #e8e8e8;
  --color-lighter-grey: #f8f8f8;
  --color-screechin-white: #eee;
  --color-grey-alt: #a0a0a0;
  --color-foggy-mountain: #d9d9d9;
  --color-pickled-bluewood: #373b54;
}
