// Colors
:root {
  --color-black: #141414;
  --color-darkgrey: #4f5964;
  --color-hover: #141414;
  --color-outline-overlay-items: #ff848a;
  --color-paragraph: #141414;
  --color-white: #fff;
  --color-accent: #006451;
  --color-red: #cb3939;
  --color-red-brighter: #df6060;
  --color-border-light: #e9e9ec;
  --color-shadows: #b8bbb3;
  --color-rain: #4d5ca1;
  --color-alt: #4d5787;
}
