// Colors
:root {
  --color-black: #141414;
  --color-black-rock: #2b303c;
  --color-blue-chalk: #ece6f2;
  --color-east-bay: #545773;
  --color-pattens-blue: #eaf1f8;
  --color-science-blue: #0049d1;
  --color-scropion: #5f5f5f;
  --color-valhalla: #2a2d3e;
  --color-white: #fff;
  --color-black-two: #222;
  --color-black-three: #333;
  --color-black-rgb: 0 0 0;
  --color-darkgrey: #4f5964;
  --color-grey: #666;
  --color-midnight-gray: #444;
  --color-grey-two: #777;
  --color-light-blue: #9b9ba8;
  --color-hover: #141414;
  --color-outline-overlay-items: #ff848a;
  --color-paragraph: #141414;
  --color-shark: #232830;
  --color-white-two: #fafafa;
  --color-white-faded: rgb(237 237 237);
  --color-white-three: #f2f2f2;
  --color-white-rgb: 255 255 255;
  --color-red: #cb3939;
  --color-red-brighter: #df6060;
  --color-border-light: #e9e9ec;
  --color-shadows: #b8bbb3;
  --color-rain: #4d5ca1;
  --color-alt: #4d5787;
  --color-accent: #3886e1;
  --color-accent-hover: #17459e;
  --color-code-old: #c7254e;
  --color-code-background-old: #f9f2f4;
  --color-code: var(--color-accent);
  --color-link-text: var(--color-accent);
  --color-code-background: #f2f6f9;
  --color-light-grey: #e8e8e8;
  --color-lighter-grey: #f8f8f8;
  --color-screechin-white: #eee;
  --color-grey-alt: #a0a0a0;
  --color-foggy-mountain: #d9d9d9;
  --color-pickled-bluewood: #373b54;
  --color-figcaptions-rgb: 75 75 90;
  --color-post-author-background-rgb: 255 246 232;
  --color-post-author-border: #e3dac5;

  // Moods
  --color-mood-bad: #e64239;
  --color-mood-okay: #fcd23e;
  --color-mood-good: #4bc435;

  // Element colors
  --color-background-code-block: var(--color-black-rock);
  --color-background-code-inline: #f9f2f4;
  --color-background-default: #f0f0f0;
  --color-background-shade: #03061b;
  --color-background-table-cell-odd: var(--color-white);
  --color-background-table-cell-even: #f3f3f3;
  --color-background-tag: var(--color-pattens-blue);
  --color-blockquote: var(--color-science-blue);
  --color-comment-text: var(--color-east-bay);
  --color-comment-author-text: var(--color-east-bay);
  --color-tag-border: rgb(6 22 41 / .1);
  --color-tag-border-hover: rgb(6 22 41 / .4);
  --color-tag-text: var(--color-black);
  --color-category-border: #cdcfd4;
  --color-category-text: var(--color-black);
  --color-caption: #5c5c6a;
  --color-code-block: #c7254e;
  --color-code-text: #f5f5f5;
  --color-error: #cc2e2e;
  --color-kbd-border: #ccc;
  --color-kbd-background: var(--color-pattens-blue);
  --color-pagination-text: var(--color-shark);
  --color-pagination-background-hover: var(--color-shark);
  --color-pagination-border-hover: var(--color-shark);
  --color-pagination-text-hover: var(--color-white);
  --color-pagination-background-current: var(--color-shark);
  --color-pagination-border-current: var(--color-shark);
  --color-pagination-text-current: var(--color-white);
  --color-success: #8ed185;
  --color-top-arrow-dark: var(--color-black);
  --color-top-arrow-light: var(--color-white);
  --color-warning: #f4aa71;
  --color-error-block-border: #adb2ad; // Color picked from ACF
  --color-error-block-background: #f9f9f9; // Color picked from ACF
}
