// Font settings
$font-min-size: 16px; // Minimum font size, on mobile
$font-max-size: 20px; // Maximum font size, on desktop
$line-height: 1.4; // Line height
$body-weight: 400;
$headings-weight: 700; // Default title weight. Usually 700 or 900 works pretty well

:root {
  --line-height: 1.6;
}
