// Font settings
// You can use these font stacks normally with `font-family: $font-sans;` for instance.`
// Please set up fonts in sass/layout/_typography.scss
$font-base: 'Inter', 'Helvetica Neue', helvetica, sans-serif;
$font-alt: 'ColfaxAI', 'Helvetica Neue', helvetica, sans-serif;
$font-old: 'Charter', 'Helvetica Neue', helvetica, sans-serif;
$font-headings: 'ColfaxAI', 'Helvetica Neue', helvetica, sans-serif;
$font-monospace: 'Menlo', 'Courier', monospace;
