// Paddings
$padding-default-rows-mobile: 5rem;
$padding-default-cols-mobile: 2rem;
$padding-general-content-box: 2rem;
$padding-general-content-box-ipad: 2rem;
$padding-general-content-box-mobile: 2rem;
$margin-general-offset: -8rem;
$padding-accordion-content: 2.5rem;
$padding-accordion-content-mobile: 2rem;
