// Core/cover block
.wp-block-cover__inner-container {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);

  p {
    // stylelint-disable-next-line
    color: #fff !important;
    line-height: var(--line-height-core-heading);
  }
}
