// Core/blockquote block

blockquote + cite,
blockquote + p > cite {
  margin-bottom: 4rem;
}

blockquote,
blockquote.wp-block-quote {
  border-left: 2px solid $color-black;
  line-height: 1.77;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 920px;
  padding: 4rem 6rem;

  cite {
    text-align: left;

    a:not(.button):not(.post-edit-link):not(.author-link) {
      font-weight: var(--font-weight-regular);
    }
  }

  * {
    line-height: 1.77;
  }

  p {
    font-size: var(--font-size-21);
  }

  > p {
    color: var(--color-blockquote);
    line-height: var(--line-height-paragraphs-blog);
  }

  @media (max-width: $container-mobile) {
    padding: 4rem 2rem;
  }

  @media (max-width: $width-max-article + 40px) {
    padding: 3.5rem 2rem;
    width: calc(100% - 4rem);
  }

  @media (max-width: $container-mobile) {
    padding: 4rem 4rem 4rem 2rem;
  }
}

.wp-block-blockquote.alignwide,
.wp-block-blockquote.alignfull {
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  width: calc(100% - calc(var(--padding-container-horizontal) * 2));
}

.wp-block-blockquote blockquote {
  padding-bottom: 0;
}
