// List block
.wp-block-list,
.wp-block-categories-list,
ul.is-style-default,
ol.is-style-default,
ol:not([class]),
ul:not([class]) {
  list-style: inside decimal;
  width: calc((100% - calc(var(--padding-container-horizontal) * 2)));

  li {
    font-size: var(--font-size-paragraphs);
  }

  li::marker {
    color: var(--color-link-text);
    font-size: var(--font-size-18);
  }

  @media (max-width: var(--padding-container-horizontal)) {
    padding-left: 0;
  }
}

body.wp-admin .editor-styles-wrapper .is-root-container > .wp-block-list,
body.wp-admin .editor-styles-wrapper .is-root-container > ol:not([class]),
body.wp-admin .editor-styles-wrapper .is-root-container > ul:not([class]) {
  list-style: inside decimal;

  @media (max-width: 640px) {
    padding-left: 2rem !important;
  }
}
