// stylelint-disable a11y/no-display-none a11y/declaration-no-important, no-descending-specificity
// No-bullets block style
.wp-block.is-style-no-bullets,
.is-style-no-bullets,
.wp-block-column .is-style-no-bullets {
  list-style: none !important;
  margin: 0 !important;

  .thumbs-svg {
    margin-right: 2px;
  }

  // stylelint-disable-next-line
  li::before {
    display: none !important;
  }

  @media (min-width: $article-max-width + 40px) {
    padding-left: 0 !important;

    li {
      padding-left: 0 !important;
    }
  }

  @media (max-width: $article-max-width + 40px) {
    padding-left: 2.2rem !important;
  }
}
