// stylelint-disable a11y/no-display-none a11y/declaration-no-important, no-descending-specificity
// No-bullets block style
.wp-block.is-style-no-bullets,
.is-style-no-bullets,
.wp-block-column .is-style-no-bullets {
  list-style: none !important;
  padding-left: 0 !important;

  .thumbs-svg {
    margin-right: 6px;
  }

  // stylelint-disable-next-line
  li::before {
    display: none !important;
  }

  @media (max-width: $container-mobile) {
    padding-left: 2rem !important;
  }
}
