// no-bullets block style
.wp-block.is-style-no-bullets,
.is-style-no-bullets,
.wp-block-column .is-style-no-bullets {
  list-style: none !important;
  padding-left: 0 !important;

  li {
    padding-left: 0 !important;
  }
}
