body .site-content .custom-pagination {
  display: flex;
  gap: .5rem;
  opacity: .4;
  transition: all .55s;

  a:not(.button):not(.post-edit-link) {
    border: 0 !important;
    box-shadow: none !important;
    color: var(--color-midnight-gray);
    margin: 0;
    text-decoration: none;
    transition: all .22s;

    &.current {
      color: var(--color-black-three);
    }

    &:hover,
    &:focus {
      filter: brightness(15%);
    }
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.mini-avatar {
  float: left;
  margin-right: 10px;

  img {
    // stylelint-disable-next-line
    border-radius: 50% !important;
  }
}

.site-content .content-area .container .article .entry-stack {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 40px;
  padding-bottom: 40px;

  &:last-of-type {
    border: 0;
  }

  h2 {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;

    a {
      color: var(--color-black);
    }
  }

  p {
    color: var(--color-midnight-gray);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }

  .entry-stack-header {
    p,
    .dot-divider {
      color: #888;
      font-size: 13px;
    }

    p {
      margin-bottom: 6px;
    }
  }

  .entry-stack-details {
    p {
      a {
        @include link();
        color: var(--color-grey-two);
        text-decoration-color: var(--color-grey-two);
      }
    }

    h2 a {
      color: var(--color-black);
      text-decoration: none;
    }
  }

  .entry-stack-details-read-more {
    margin-top: 20px;
    overflow: hidden;

    p {
      color: var(--color-grey-two);
      font-size: 14px;
      margin: 0;
      padding: 7px 0;

      a {
        @include link();
        color: var(--color-grey-two);
        text-decoration-color: var(--color-grey-two);
      }

      @media (max-width: $container-mobile) {
        padding: 3px 0;
      }
    }
  }
}

.notification-box {
  border-bottom: 1px solid var(--color-foggy-mountain);
  border-top: 1px solid var(--color-foggy-mountain);
  margin-bottom: 60px;
  padding-bottom: 20px;
  padding-top: 20px;

  h3 {
    color: var(--color-darkgrey);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
  }

  p {
    color: var(--color-darkgrey);
    font-size: 16px;
    margin: 0;
  }
}
