// --------------------------------------------------------
// Comments
//
// WordPress built-in comments with comment_form().
// Custom comment template can be found in inc/comments.php
// --------------------------------------------------------

.comment-reply-title,
.comment-reply-title > small {
  display: none !important;
}

.comments-wrap {
  background-color: transparent;
  overflow: hidden;

  label {
    &.cnns-label,
    &#cnns-label {
      color: #a0a0a0;
      font-size: 16px;
      margin: 0;

      @media (max-width: $container-mobile) {
        font-size: 13px;
      }
    }
  }

  p,
  form#commentform p,
  #comments div#respond p,
  #comments div.comment-respond p {
    &.comment-form-comment {
      margin-bottom: 0;

      textarea {
        margin-left: .5rem;
        margin-right: .5rem;
        padding-left: 0;
        padding-right: 0;

        @media (max-width: 600px) {
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }
    }

    &.form-submit input {
      border-color: #7a7a7a;
      color: #7a7a7a;

      @media (max-width: $article-max-width + 40px) {
        margin-left: 2rem;
        margin-right: 2rem;
      }

      &:hover,
      &:focus {
        background: #7a7a7a;
        border-color: #7a7a7a;
        color: $color-white;
      }
    }

    &#lstc-comment-subscription,
    &.cnns-comment-subscription {
      margin-bottom: 20px;
      margin-top: 20px;

      @media (max-width: $article-max-width + 40px) {
        margin-left: 2rem;
        margin-right: 2rem;
      }

      &:hover label,
      &:focus label {
        color: darken(#a0a0a0, 15%);
      }

      &:hover,
      &:focus {
        color: darken(#a0a0a0, 15%);
      }

      &:hover input[type="checkbox"] + label::before,
      &:focus input[type="checkbox"] + label::before {
        border: 2px solid darken(#a0a0a0, 15%);
      }

      &:hover input[type="checkbox"]:checked + label::before,
      &:focus input[type="checkbox"]:checked + label::before {
        background: darken(#a0a0a0, 15%);
      }

      input[type="checkbox"] {
        max-width: 2rem;
        opacity: 0; // Hide it
        position: absolute; // Take it out of document flow

        + label {
          cursor: pointer;
          padding: 0;
          position: relative;
        }

        // Box.
        + label::before {
          background: #fff;
          border: 2px solid #a0a0a0;
          border-radius: 3px;
          content: '';
          display: inline-block;
          height: 1.5rem;
          margin-bottom: 1rem;
          margin-right: .6rem;
          position: relative;
          top: 2px;
          vertical-align: text-top;
          width: 1.5rem;

          @media (max-width: $article-max-width + 40px) {
            top: 2px;
          }
        }

        // Box hover
        &:hover + label::before {
          background: #a0a0a0;
        }

        // Box focus
        &:focus + label::before {
          box-shadow: 0 0 0 3px rgba(#000, .12);
        }

        // Box checked
        &:checked + label::before {
          background: #a0a0a0;
        }

        // Disabled state label.
        &:disabled + label {
          color: #b8b8b8;
          cursor: auto;
        }

        // Disabled box.
        &:disabled + label::before {
          background: #ddd;
          box-shadow: none;
        }

        // Checkmark. Could be replaced with an image
        &:checked + label::after {
          background: #fff;
          box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
          content: '';
          height: 2px;
          left: 3px;
          position: absolute;
          top: 9px;
          transform: rotate(45deg);
          width: 2px;
        }
      }
    }
  }

  @media (max-width: 700px) {
    padding-left: $container-default-pad-x / 2;
    padding-right: $container-default-pad-x / 2;
  }

  .comment-reply-title {
    color: #777;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 65px;
  }

  .comment-form {
    display: block;
    margin-bottom: 50px;
    margin-top: 0;
  }

  .hidden-by-default {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 1s all;

    @media (max-width: $article-max-width + 40px) {
      margin-left: 0;
      margin-right: 0;

      input {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.show {
      height: 158px;
      opacity: 1;
    }
  }
}

// Logged in -specified commenting
body {
  &.logged-in {
    .logged-in-as {
      display: none;
    }

    .hidden-by-default.show {
      height: 47px;
    }
  }
}

.comments-area {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 640px;
  overflow: hidden;

  .comment-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      background: #fff;
      border: 1px solid #e8e8e8;
      margin-bottom: 30px;
      margin-top: 0;
      padding: 30px;

      p {
        color: $color-body;
        font-size: 17px;
        line-height: 1.65;
        margin-top: 0;
        opacity: .8;

        a.comment-edit-link {
          color: #222;
          font-size: 13px;
          opacity: .5;
        }
      }

      .avatar {
        border-radius: 50%;
        float: right;
      }

      .comment-author {
        color: $color-body;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 3px;
        margin-top: 0;
        padding: 0;
      }

      .comment-author a {
        color: $color-body;
      }

      .comment-time {
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 0;
        opacity: .5;
        padding: 0;
      }

      .comment-time svg {
        fill: $color-darkgrey;
        height: 12px;
        margin-right: 3px;
        position: relative;
        top: 2px;
        width: 12px;
      }

      .comment-time a {
        color: $color-darkgrey;
      }

      .comment-time:hover,
      .comment-time:focus {
        opacity: 1;
      }
    }
  }
}
