@import '../layout/log-header';

// stylelint-disable selector-max-class, a11y/no-display-none
:root {
  // stylelint-disable-next-line
  --diary-font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", "San Francisco", Inter, "Sofia Pro", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --diary-font-size-main-heading: 32px;
  --diary-font-size: 17px;
  --diary-font-size-prefix: 14px;
  --diary-container-width: 600px;

  @media (max-width: 840px) {
    --diary-font-size-main-heading: 26px;
  }
}

// Active diary link
// Active diary link
@media (min-width: $responsivenav) {
  .archive.tag .menu-item-26560 a,
  .home .menu-item-26560 a,
  .single-diary .menu-item-26435 a {
    opacity: 1;
  }
}

body.post-type-archive-diary,
body.post-type-diary,
body.single-diary {
  &.single .site-head {
    display: block;
  }

  // Embeds
  .wp-video,
  .twitter-tweet,
  .instagram-media,
  .is-provider-instagram,
  .is-provider-twitter,
  .is-provider-facebook {
    max-width: var(--diary-container-width) !important;
    width: 100% !important;
  }

  .telegram-group,
  .log-header,
  .back-to-link,
  .custom-pagination {
    margin: 0 auto;
  }

  // Header
  .log-header {
    h1 {
      font-size: 24px;
      margin: 0 0 1.2rem;
    }

    p {
      font-size: var(--font-size-14);
      margin: 0;
    }

    a,
    p {
      color: var(--color-darkgrey);
    }

    a {
      @include link();
      color: var(--color-darkgrey);
      text-decoration-color: var(--color-darkgrey);
    }

    @media (max-width: 720px) {
      margin-top: 4rem;
    }
  }

  // stylelint-disable-next-line
  .back-to-link {
    display: none;
    margin-bottom: 5rem;
  }

  .back-to-link a {
    align-items: center;
    display: flex;
    font-size: var(--font-size-14);
    gap: 1rem;
    justify-content: flex-start;
    opacity: .7;

    svg {
      height: auto;
      transition: all 100ms;
      width: 16px;
    }

    &:focus,
    &:hover {
      opacity: 1;
    }

    &:focus svg,
    &:hover svg {
      transform: translateX(-1rem);
    }
  }

  .telegram-group,
  .log-header,
  .back-to-link,
  .prefix,
  h1.prefix,
  h2.prefix,
  .type-diary p.diary-title,
  .custom-pagination {
    max-width: var(--diary-container-width);

    a {
      color: var(--color-heading);
    }

    a:focus,
    a:hover {
      color: var(--color-accent-hover);
    }

    @media (max-width: 840px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .post-past .diary-title,
  .prefix,
  h1.prefix,
  h2.prefix,
  .type-diary p.diary-title,
  .diary-title {
    font-family: var(--diary-font-family-heading);
    font-size: var(--diary-font-size-main-heading);
  }

  .type-diary p.diary-title,
  .diary-title {
    font-weight: 600;
    line-height: 1.2;
    margin: 0 auto 2rem;

    .time {
      // stylelint-disable-next-line
      font-size: 66%;
      opacity: .8;
    }
  }

  .type-diary > h1.prefix,
  .type-diary > h2.prefix {
    color: rgb(var(--color-black-rgb) / .55);
    font-size: var(--diary-font-size-prefix);
    font-weight: var(--font-weight-regular);
    margin: 2rem auto 1rem;
  }

  .article-content {
    padding-bottom: 0;
    padding-top: 0;
  }

  .wp-block p,
  .wp-block li,
  .type-diary li,
  .type-diary p,
  .article-content p,
  .article-content li,
  .container.container-article .entry-content p,
  .container.container-article article p,
  .editor-styles-wrapper p {
    font-size: var(--diary-font-size);

    &.word-count {
      font-family: $font-alt;
      font-size: var(--diary-font-size-prefix);
      opacity: .8;
    }
  }

  .container.container-article {
    padding-top: 0;
  }

  .editor-styles-wrapper .is-root-container > *:not(.alignwide):not(.alignfull),
  .article-content > *:not(.alignwide):not(.alignfull),
  .container.container-article .entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: var(--diary-container-width);

    // @media (max-width: 840px) {
    //   padding-left: var(--padding-container-horizontal);
    //   padding-right: var(--padding-container-horizontal);
    // }
  }

  .editor-styles-wrapper .is-root-container,
  .article-content.entry-content {
    .post-past.post.diary.type-diary.metadata,
    div.metadata:not(.alignwide):not(.alignfull),
    ul.metadata:not(.alignwide):not(.alignfull) {
      border: 1px solid rgb(var(--color-black-rgb) / .2);
      border-radius: 4px;
      list-style: none;
      margin-top: 4rem;
      overflow: hidden;
      padding: 2.2rem;
      position: relative;

      .post-past__inner {
        .meta-prefix {
          font-size: 12px;
          font-weight: var(--font-weight-regular);
          margin: 0;
          margin-bottom: 2rem;
          margin-left: 0;
          opacity: .5;
          padding-left: 0;
        }

        .post-past__content-title.prefix {
          color: rgb(var(--color-black-rgb) / .55);
          font-size: var(--diary-font-size-prefix);
          font-weight: var(--font-weight-regular);
          margin: 2rem auto;
          padding: 0;
        }

        .diary-title {
          font-family: var(--diary-font-family-heading);
          font-size: 22px;
          margin-left: 0;
          padding-left: 0;

          @media (max-width: 800px) {
            font-size: 18px;
          }
        }

        .post-past__content-excerpt p {
          font-size: 15px;
        }
      }

      a:not(.button):not(.post-edit-link):not(.author-link) {
        color: rgb(var(--color-black-rgb) / .8);
        text-decoration-color: rgb(var(--color-black-rgb) / .8);

        &.is-external-link::after {
          background-image: url('../../svg/external-link-323232.svg');
        }
      }

      li {
        align-items: flex-start;
        color: rgb(var(--color-black-rgb) / .8);
        display: inline-flex;
        font-size: var(--font-size-14);
        gap: 1rem;
        width: 100%;
      }

      svg {
        height: 16px;
        min-width: 16px;
        position: relative;
        top: .3rem;
        width: 16px;
      }

      svg.can {
        height: 20px;
        width: 16px;
      }

      @media (max-width: 640px) {
        max-width: calc(100% - 4rem);
        padding: 1rem 2rem;

        &.post-past {
          padding: 2rem;
        }

        &.metadata-gratitude,
        &.metadata-progress {
          padding: 2rem;
        }
      }
    }

    .metadata .mood svg {
      stroke-width: 1.5;
    }

    ul[data-type="core/list"]:not(.is-style-green-shades):not(.is-style-red-shades):not(.is-style-no-bullets):not(.is-style-todo-list),
    ol[data-type="core/list"]:not(.is-style-green-shades):not(.is-style-red-shades):not(.is-style-no-bullets):not(.is-style-todo-list) {
      @media (max-width: 640px) {
        padding-left: 2rem !important;
      }
    }

    div.metadata:not(.alignwide):not(.alignfull).metadata-gratitude .meta-prefix {
      font-size: 12px;
      margin: 0;
      opacity: .5;
    }

    .post-past__content-excerpt * {
      font-size: 14px;
    }

    div.metadata:not(.alignwide):not(.alignfull).metadata-gratitude .gratitude-reasons {
      font-size: 16px;
    }

    div.metadata:not(.alignwide):not(.alignfull).metadata-gratitude > svg {
      fill: rgb(var(--color-black-rgb) / .2);
      height: 500px;
      pointer-events: none;
      position: absolute;
      right: -20vw;
      top: -70px;
      width: 55vw;

      @media (max-width: 890px) {
        min-width: 400px;
        top: -110px;
        width: 55vw;
      }
    }

    .progress {
      line-height: 1;
      margin-bottom: 1.4rem;
      position: relative;
    }

    .progress:last-child {
      margin-bottom: 0;
    }

    .progress-bar {
      padding-bottom: 10px;
      position: relative;
    }

    .progress::after,
    .progress-bar::after {
      border-radius: 3px;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      width: 100%;
    }

    .progress::after {
      background-color: var(--color-white-faded);
      z-index: 0;
    }

    .progress-bar::after {
      z-index: 1;
    }

    .progress-bar.is-bad::after {
      background-color: var(--color-mood-bad);
    }

    .progress-bar.is-okay::after {
      background-color: var(--color-mood-okay);
    }

    .progress-bar.is-good::after {
      background-color: var(--color-mood-good);
    }

    .progress span {
      font-size: var(--font-size-15);
      opacity: .8;
      white-space: nowrap;
    }

    ol.habits,
    ul.habits {
      display: flex;
      flex-wrap: wrap;
      gap: .8rem;
      list-style: none;
      transition: opacity 500ms;

      .habit svg {
        height: 24px;
        min-width: 24px;
        width: 24px;
      }

      &:focus li,
      &:hover li {
        opacity: .2;

        &:focus,
        &:hover {
          filter: unset;
          opacity: 1;
        }
      }

      li {
        align-items: center;
        background-color: rgb(47 87 139 / .5);
        border-radius: 50%;
        color: rgb(255 255 255 / 1);
        display: inline-flex;
        filter: grayscale(1);
        font-size: var(--font-size-14);
        gap: 1rem;
        height: 40px;
        overflow: hidden;
        padding: .8rem;
        transition: opacity 500ms;
        width: 40px;

        .label {
          align-items: center;
          background-color: inherit;
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
          display: flex;
          height: 40px;
          margin-left: 32px;
          max-width: calc(var(--diary-container-width) - 48px);
          opacity: 0;
          overflow: hidden;
          padding-left: .4rem;
          padding-right: .8rem;
          pointer-events: none;
          position: absolute;
          white-space: nowrap;
        }

        &:hover,
        &:focus {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 0;
          border-top-left-radius: 8px;
          border-top-right-radius: 0;
        }

        &:focus > .label,
        &:hover > .label {
          opacity: 1;
        }
      }

      // Habits: Health
      li.sleep,
      li.workout,
      li.breakfast,
      li.weighin,
      li.ade,
      li.run,
      li.walk,
      li.water {
        background-color: rgb(16 158 58 / .12);
        color: rgb(23 192 73);

        &:hover,
        &:focus,
        &:hover .label,
        &:focus .label {
          // stylelint-disable-next-line
          background-color: #ddeee2;
        }
      }

      // Habits: Self-improvement
      li.combhair,
      li.books,
      li.wallet,
      li.journal {
        background-color: rgba(158 108 16 / .12);
        color: rgb(255 105 0);

        &:hover,
        &:focus,
        &:hover .label,
        &:focus .label {
          // stylelint-disable-next-line
          background-color: #eee8dd;
        }
      }

      // Habits: Clean
      li.kitchen,
      li.inventory,
      li.clothes,
      li.clean,
      li.roomba {
        background-color: rgba(118 16 158 / .12);
        color: rgb(226 71 240);

        &:hover,
        &:focus,
        &:hover .label,
        &:focus .label {
          // stylelint-disable-next-line
          background-color: #e9ddee;
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }

    ol.is-style-green-shades,
    ul.is-style-green-shades {
      border-radius: 5px;
      list-style: none;
      overflow: hidden;
      width: auto;

      li:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      li {
        color: var(--color-paragraph);
        display: block;
        font-size: var(--font-size-16);
        padding: .5rem 1.2rem;

        &::before,
        &::after {
          display: none;
        }
      }

      li:nth-child(1) {
        background-color: rgb(85 139 47 / .7);
      }

      li:nth-child(2) {
        background-color: rgb(85 139 47 / .5);
      }

      li:nth-child(3) {
        background-color: rgb(85 139 47 / .3);
      }

      li:nth-child(4) {
        background-color: rgb(85 139 47 / .2);
      }

      li:nth-child(5) {
        background-color: rgb(85 139 47 / .1);
      }

      li:nth-child(6) {
        background-color: rgb(85 139 47 / .072);
      }

      li:nth-child(7) {
        background-color: rgb(85 139 47 / .057);
      }

      li:nth-child(8) {
        background-color: rgb(85 139 47 / .037);
      }

      li:nth-child(9) {
        background-color: rgb(85 139 47 / .022);
      }

      li:nth-child(10) {
        background-color: rgb(85 139 47 / .012);
      }

      @media (min-width: 640px) {
        padding-left: 0;
      }
    }

    ol.is-style-red-shades,
    ul.is-style-red-shades {
      border-radius: 5px;
      list-style: none;
      overflow: hidden;
      padding-left: 0;
      width: auto;

      li:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      li {
        color: var(--color-paragraph);
        display: block;
        font-size: var(--font-size-16);
        padding: .5rem 1.2rem;

        &::before,
        &::after {
          display: none;
        }
      }

      li:nth-child(8) {
        background-color: rgba(139 47 47 / .62);
      }

      li:nth-child(7) {
        background-color: rgb(139 47 47 / .42);
      }

      li:nth-child(6) {
        background-color: rgb(139 47 47 / .32);
      }

      li:nth-child(5) {
        background-color: rgb(139 47 47 / .18);
      }

      li:nth-child(4) {
        background-color: rgb(139 47 47 / .1);
      }

      li:nth-child(3) {
        background-color: rgb(139 47 47 / .072);
      }

      li:nth-child(2) {
        background-color: rgb(139 47 47 / .057);
      }

      li:nth-child(1) {
        background-color: rgb(139 47 47 / .037);
      }

      @media (max-width: 640px) {
        padding-left: 2rem !important;
      }
    }

    ol.is-style-todo-list,
    ul.is-style-todo-list {
      list-style: none;

      li::before {
        border: 1px solid var(--color-darkgrey);
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 16px;
        margin-right: 8px;
        overflow: hidden;
        position: relative;
        top: 2px;
        width: 16px;
      }

      li.checked {
        text-decoration: line-through;
      }

      li.checked::before {
        background-color: var(--color-darkgrey);
        background-image: url('../../svg/checked-white.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }

      @media (min-width: 640px) {
        padding-left: 0;
      }

      @media (max-width: 840px) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }

    @media (max-width: 640px) {
      ul.is-style-default,
      ol.is-style-default,
      ol:not([class]),
      ul:not([class]) {
        padding-left: 0 !important;
      }
    }
  }

  // Blockquotes
  @media (min-width: 1015px) {
    .container.container-article .article-content blockquote.wp-block-quote {
      margin: 4rem auto;
      padding-right: 0;
      transform: translateX(-6rem);

      p {
        font-size: var(--font-size-18);
      }

      > * {
        width: calc(100% + 12rem);
      }
    }
  }
}

.type-diary + .type-diary {
  margin-top: 4rem;
}

// Diary styles
body.post-type-diary {
  .wp-block,
  .wp-block li,
  .editor-styles-wrapper .is-root-container > * {
    max-width: var(--diary-container-width);
  }

  p {
    font-size: var(--diary-font-size);
  }

  // Use ACF defined font styles in ACF fields
  .acf-field p.description,
  .acf-fields *[class^='acf-'],
  .acf-fields [class^='acf-'] * {
    font-family: inherit;
    font-size: unset;
  }

  .editor-styles-wrapper {

    // Prevent horizontal scrolling
    overflow-x: hidden;
  }

  .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper .wp-block.wp-block-post-title.editor-post-title__input,
  .editor-styles-wrapper .wp-block.editor-post-title .editor-post-title__input,
  .editor-styles-wrapper .wp-block.wp-block-post-title.editor-post-title__input {
    color: rgb(var(--color-black-rgb) / .55);
    font-size: var(--diary-font-size-prefix);
    font-weight: var(--font-weight-regular);
  }
}

// Widgets
// stylelint-disable a11y/font-size-is-readable

@media (max-width: 840px) {
  .widget {
    padding-left: var(--padding-container-horizontal);
    padding-right: var(--padding-container-horizontal);
  }
}

.widget.widget_calendar {
  margin: 7rem auto 0;
  max-width: var(--diary-container-width);

  .calendar_wrap {
    max-width: 300px;
    width: 100%;
  }

  .widget-title {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .wp-calendar.wp-calendar-table {
    width: 100%;
  }

  .wp-calendar * {
    font-size: var(--font-size-14);
    text-align: left;
  }

  caption {
    color: rgb(var(--color-black-rgb) / .4);
    font-size: var(--font-size-14);
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  .wp-calendar-nav-prev,
  .wp-calendar-nav-next {
    display: inline-block;
    font-size: var(--font-size-14);
    margin-top: 2rem;
    overflow: hidden;
    white-space: nowrap;
    width: 45px;

    a {
      color: rgb(var(--color-black-rgb) / .4);
    }

    a:hover,
    a:focus {
      color: var(--color-black);
    }
  }

  .wp-calendar-nav-prev {
    text-indent: -1rem;
  }

  .wp-calendar-nav {
    display: flex;
    justify-content: space-between;
    max-width: 460px;
  }

  thead,
  tbody {
    transform: translateX(-.5rem);
  }

  td,
  th {
    color: rgb(var(--color-black-rgb) / .4);
    display: table-cell;
    height: 47px;
    margin: .5rem 0;
    padding: .6rem .8rem;

    > a {
      align-items: center;
      border-radius: 4px;
      box-shadow: none;
      color: var(--color-rain);
      display: inline-flex;
      font-size: var(--font-size-14);
      height: 35px;
      justify-content: center;
      margin-left: -10px;
      text-align: center;
      text-decoration: none;
      transition: .22s;
      width: 35px;
    }

    > a:focus,
    > a:hover {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
}
