// stylelint-disable selector-max-class
:root {
  // stylelint-disable-next-line
  --diary-font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", "San Francisco", Inter, "Sofia Pro", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --diary-font-size-main-heading: 32px;
  --diary-font-size: 17px;
  --diary-font-size-prefix: 14px;
  --diary-container-width: 600px;

  @media (max-width: 840px) {
    --diary-font-size-main-heading: 26px;
  }
}

// Active diary link
@media (min-width: $responsivenav) {
  .single-diary .menu-item-26435 a {
    opacity: 1;
  }
}

body.post-type-archive-diary,
body.post-type-diary,
body.single-diary {
  &.single .site-head {
    display: block;
  }

  .back-to-link,
  .custom-pagination {
    margin: 0 auto;
  }

  .back-to-link {
    display: none;
    margin-bottom: 5rem;
  }

  .back-to-link a {
    align-items: center;
    display: flex;
    font-size: var(--font-size-14);
    gap: 1rem;
    justify-content: flex-start;
    opacity: .7;

    svg {
      height: auto;
      transition: all 100ms;
      width: 16px;
    }

    &:focus,
    &:hover {
      opacity: 1;
    }

    &:focus svg,
    &:hover svg {
      transform: translateX(-1rem);
    }
  }

  .back-to-link,
  .prefix,
  h1.prefix,
  .diary-title,
  .custom-pagination {
    max-width: var(--diary-container-width);

    @media (max-width: 840px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .prefix,
  h1.prefix,
  .diary-title {
    font-family: var(--diary-font-family-heading);
    font-size: var(--diary-font-size-main-heading);
  }

  .diary-title {
    font-weight: 600;
    line-height: 1.2;
    margin: 0 auto 2rem;

    .time {
      // stylelint-disable-next-line
      font-size: 66%;
      opacity: .8;
    }
  }

  .type-diary h1,
  .container.container-article .entry-content h1,
  .container.container-article article h1,
  .editor-styles-wrapper h1 {
    &.prefix {
      color: rgb(var(--color-black-rgb) / .55);
      font-size: var(--diary-font-size-prefix);
      font-weight: var(--font-weight-regular);
      margin: 2rem auto 1rem;
    }
  }

  .type-diary p,
  .container.container-article .entry-content p,
  .container.container-article article p,
  .editor-styles-wrapper p {
    &.word-count {
      font-family: $font-alt;
      font-size: var(--diary-font-size-prefix);
      opacity: .8;
    }
  }

  .container.container-article {
    padding-top: 0;
  }

  .container.container-article .entry-content > * {
    font-size: var(--diary-font-size);
    max-width: var(--diary-container-width);
  }
}

.type-diary + .type-diary {
  margin-top: 4rem;
}
