#heatmap {
  @media (max-width: 720px) {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $container-ipad) {
    margin: 2rem 0 6rem;
  }
}

.chart-container {
  margin: 0 auto;

  @media (max-width: 720px) {
    transform: translateX(1rem);
  }
}
