// ------------------------------------------------
// Page
//
// All the other pages of the site, without any
// particular layout.
// ------------------------------------------------

.block.block-page {
  @media (min-width: $container-mobile) {
    min-height: 300px;
  }

  .container.container-archive.container-article {
    max-width: $article-max-width;
    overflow: visible;

    .notification-box {
      text-align: left;

      @media (max-width: $article-max-width + 40px) {
        margin-left: 2rem;
        margin-right: 2rem;
        width: calc(100% - 4rem);
      }
    }

    .content {
      padding-left: 0;
      padding-right: 0;
    }
  }

  ul,
  ol {
    margin-left: 1.2rem;
  }

  .post-head.inverted.archive-all {
    @media (max-width: $article-max-width + 40px) {
      margin-left: 2rem;
      padding-left: 0;
    }
  }
}

.template-arkisto {
  h2 {
    @include responsive-font(20px, 24px);
    color: #222;
    margin-bottom: 20px;

    &.title-grouped {
      margin-bottom: 10px;
    }
  }

  h4 {
    color: #777;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }

  .container.container-article .tag-cloud {
    margin-bottom: 60px;
    max-width: 100%;
    padding-left: 8rem;
    padding-right: 8rem;

    @media (max-width: $article-max-width + 40px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    ul {
      line-height: 1;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      line-height: 1.22;
      margin: 0;
      padding: 0;
    }

    a:not(.button):not(.post-edit-link):not(.global-link) {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      font-weight: 400;
      opacity: .9;
      text-shadow: none;
      text-transform: lowercase;
      transition: .33s all;

      &:hover,
      &:focus {
        box-shadow: none;
        color: var(--color-white);
        opacity: 1;
        text-shadow: none;
      }
    }
  }
}
