// ------------------------------------------------
// Page
//
// All the other pages of the site, without any
// particular layout.
// ------------------------------------------------
.block.block-page {
  // stylelint-disable-next-line
  .entry-header {
    display: none;
  }

  .container.container-archive.container-article {
    max-width: $article-max-width;
    overflow: visible;

    .notification-box {
      margin-left: 0;
      text-align: left;
      width: 100%;
    }

    .content {
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: $article-max-width + 40px) {
      margin-left: 2rem;
      margin-right: 2rem;
      width: calc(100% - 4rem);
    }
  }

  .post-head.inverted.archive-all {
    @media (max-width: $article-max-width + 40px) {
      margin-left: 2rem;
      padding-left: 0;
    }
  }

  @media (min-width: $container-mobile) {
    min-height: 300px;
  }
}

.template-arkisto {
  h2 {
    @include responsive-font(20px, 24px);
    color: var(--color-black-two);
    margin-bottom: 20px;

    &.title-grouped {
      margin-bottom: 10px;
    }
  }

  h4 {
    color: var(--color-grey);
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }

  .tag-cloud {
    margin-bottom: 60px;
    max-width: 100%;

    ul {
      line-height: 1;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      line-height: 1.22;
      margin: 0;
      padding: 0;
    }

    a:not(.button):not(.post-edit-link):not(.global-link) {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      color: var(--color-shark);
      font-weight: 500;
      text-shadow: none;
      text-transform: lowercase;

      &:hover,
      &:focus {
        box-shadow: none;
        color: var(--color-accent-hover);
        text-shadow: none;
      }
    }

    @media (min-width: $article-max-width + 40px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    @media (max-width: $article-max-width + 40px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.tag-cloud a {
  text-decoration: none !important;
}
