/* stylelint-disable a11y/no-display-none */
.cat-links,
.tags-links {
  display: block;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 20px;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 20px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

del {
  color: #666;
  text-decoration: line-through;
}

// Gutenberg magic
.container.container-article {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 7rem;

  .blocks-gallery-grid {
    margin-left: 0;
    margin-top: 2.4rem;
    padding-left: 0;
  }
}

.container.container-article article,
.container.container-article .article {
  max-width: 100%;
}

.editor-styles-wrapper,
.container.container-article article,
.container.container-article .article {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

  img {
    border-radius: 4px;
  }

  a:not(.button):not(.post-edit-link):not(.author-link) {
    @extend %link;
    position: relative;
    text-decoration: none;
  }

  .minikuvateksti,
  .kuvateksti,
  .kuvateksti-horizontal,
  figcaption,
  cite,
  small {
    border: 0;
    color: rgba(#4b4b5a, .9);
    font-size: 15px;
    font-style: normal;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    max-width: $article-max-width;
    padding-bottom: 0;
    text-align: center;

    @media (max-width: $container-mobile) {
      margin-top: 2rem;
    }
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }

  p {
    color: $color-black;
    font-weight: $body-weight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  .is-style-ingress {
    line-height: 1.22;
  }

  iframe,
  .fb-post,
  small {
    display: block;
  }

  ul,
  li {
    line-height: 1.77;
  }

  .featured-image-single {
    margin-bottom: 8rem;
    max-width: 920px;

    img {
      height: auto;
      width: 100%;
    }
  }

  blockquote {
    border-left: 2px solid $color-black;
    line-height: 1.77;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    max-width: 920px;
    padding: 4rem 6rem;

    cite {
      text-align: left;
    }

    * {
      line-height: 1.77;
    }

    p {
      @include responsive-font($font-min-size, 22px);
    }

    @media (max-width: $container-mobile) {
      padding: 4rem 2rem;
    }
  }

  cite {
    margin-bottom: 0;
  }

  // Lists in general
  ul,
  ol {
    padding-left: 2.2rem;

    @media (max-width: $article-max-width + 40px) {
      padding-left: 4.2rem;
    }
  }

  // Ordered list style
  ol:not(.is-style-no-bullets) {
    counter-reset: ol-li-counter;
    list-style: none;
    padding-left: 0;

    > li {
      counter-increment: ol-li-counter;
    }

    > li::before {
      color: var(--color-science-blue);
      content: counter(ol-li-counter) ". ";
      font-family: $font-alt;
      font-weight: var(--font-weight-semibold);
      margin-right: .2rem;
    }

    @media (max-width: $article-max-width + 40px) {
      padding-left: 2.2rem;
    }
  }

  // Bullet style
  ul:not(.is-style-no-bullets) {
    padding-left: 0;

    @media (max-width: $article-max-width + 40px) {
      padding-left: 2.2rem;
    }
  }

  ul:not(.is-style-no-bullets) > li {
    list-style: none;
    padding-left: 2.2rem;
    position: relative;

    &::before {
      border: 5px solid transparent;
      border-bottom-color: var(--color-science-blue);
      content: "";
      height: 0;
      left: 2px;
      position: absolute;
      top: 8px;
      width: 0;

      @media (max-width: $article-max-width + 40px) {
        top: 5px;
      }
    }

    &::after {
      border: 5px solid transparent;
      border-top-color: var(--color-science-blue);
      content: "";
      height: 0;
      left: 2px;
      position: absolute;
      top: 18px;
      width: 0;

      @media (max-width: $article-max-width + 40px) {
        top: 15px;
      }
    }
  }

  div[style="width: 640px;"],
  .wp-video {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: $article-max-width !important;
    width: 100% !important;
  }

  > * {
    line-height: 1.77;
    margin-left: auto;
    margin-right: auto;
    max-width: $article-max-width;
    width: 100%;

    .twitter-tweet,
    .instagram-media,
    .wp-video,
    .is-provider-instagram,
    .is-provider-twitter,
    .is-provider-facebook {
      margin-left: auto !important;
      margin-right: auto !important;
      max-width: $article-max-width !important;
      width: 100% !important;

      @media (max-width: 800px) {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
      }

      @media (max-width: 480px) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
      }
    }

    &.wp-block-image {
      margin-bottom: 4rem;
      margin-top: 4rem;

      .entry-photo {
        margin: 0;
      }

      .entry-photo img {
        height: auto;
        max-width: 100%;
        width: 100%;
      }
    }

    &.twitter-tweet,
    &.instagram-media,
    &.wp-video {
      margin-left: auto !important;
      margin-right: auto !important;
      max-width: $article-max-width !important;
      width: 100% !important;

      @media (max-width: 800px) {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
      }

      @media (max-width: 480px) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
      }
    }

    &.entry-title {
      @include responsive-font(42px, 90px);
      line-height: 1;
      margin-bottom: 0;
      margin-top: 8rem;
      max-width: 1000px;
      text-align: center;

      svg {
        margin-left: 5px;
      }

      @media (max-width: 600px) {
        margin-top: 0;
      }
    }

    &.entry-meta {
      margin-bottom: 9rem;
      max-width: 800px;
      text-align: center;

      p {
        @include responsive-font(16px, 19px);
        margin-top: 2rem;
        opacity: .8;

        @media (max-width: $container-mobile) {
          font-size: 15px;
        }
      }

      @media (max-width: $container-mobile) {
        margin-bottom: 8rem;
      }

      @media (max-width: $container-mobile) {
        .reading-time {
          display: block;
        }

        .reading-time .dot-divider {
          display: none;
        }
      }
    }

    &.wp-block-gallery {
      color: $color-white;
      overflow: hidden;

      figcaption {
        color: $color-white;
        font-size: 14px;
        line-height: 1.55;
        padding: 2rem;
        width: 100%;
      }

      img {
        margin-bottom: 0;
      }
    }

    &.alignwide {
      margin-bottom: 4rem;
      margin-top: 4rem;
      padding-left: 4rem;
      padding-right: 4rem;
      width: 100%;

      @media (min-width: 870px) {
        max-width: 85vw;
        padding-left: 0;
        padding-right: 0;
      }

      @media (max-width: $container-mobile) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }

    &.alignfull {
      margin-bottom: 8rem;
      margin-top: 8rem;
      max-width: 100%;
      width: 100%;

      img {
        border-radius: 0;
      }
    }

    @media (max-width: $article-max-width + 40px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: 1170px) {
    // Big photos
    .entry-photo {
      margin-bottom: 8rem;
      margin-top: 8rem;
      max-width: 100%;
      text-align: center;

      img {
        margin: 0 auto;
        max-width: 70%;
      }
    }

    small[style="text-align: center;"] {
      display: block;
      margin-bottom: 8rem;
      margin-top: -4rem;
      max-width: 100%;
      width: 100%;
    }
  }
}

// Required sticky class
.sticky {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  padding: 3rem;
}

// Required post author comment
.comments-area .comment-list li.bypostauthor {
  background-color: rgba(#fff6e8, .4);
  border-color: #e3dac5;
  padding: 3rem;
}

// WordPress captions
.wp-caption {
  max-width: 100%;

  img[class*="wp-image-"] {
    display: block;
    margin: 0 auto;
  }

  .wp-caption-text {
    font-style: italic;
    margin-bottom: 20px;
    padding: 1rem 0;
    text-align: left;
  }

  @media (max-width: $article-max-width + 40px) {
    width: 100% !important;
  }
}

.entry-content {
  margin-bottom: 2em;

  p {
    line-height: 1.77;
  }

  // Embeds
  embed,
  iframe,
  object,
  video {
    max-width: 100%;
  }

  // Don't add extra margin on top of first title
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }
  }
}

// Tables, codes and pres
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  font-family: $font-base;
  height: 3rem;
  padding: 1rem;

  @media (max-width: 600px) {
    @include stack();
    display: inline-block;
    height: auto;
    padding: 10px 0;
    text-align: center;
  }
}

// Table heading cells
th {
  font-weight: 700;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(#000, .2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: var(--line-height);
  padding: 0 .5rem;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
}

// Preformatted text.
// CSS Simple Pre Code
pre {
  background-color: #232830;
  border: 1px solid #232830;
  border-radius: 4px;
  color: #ddd;
  display: block;
  font-family: Inconsolata, Monaco, Consolas, Andale Mono, Bitstream Vera Sans Mono, Courier New, Courier, monospace;
  font-size: 13px;
  line-height: 19px;
  margin: 3rem 0;
  overflow: auto;
  overflow-x: auto;
  padding: 15px 16px 14px;
  position: relative;
  white-space: pre;
  word-wrap: break-word;

  code {
    border-radius: 4px;
  }
}

.entry-header {
  .entry-title {
    margin-bottom: .1em;

    a {
      color: $color-links;

      &:hover,
      &:focus {
        color: $color-hover;
      }
    }
  }
}

.entry-meta {
  margin-bottom: 1em;

  * {
    color: $color-darkgrey;
  }
}

p.entry-time {
  margin-bottom: .1em;
}

.cat {
  margin-bottom: 10px;
  margin-top: 0;
}

ul.tags {
  margin: 0;
  overflow: hidden;
  padding: 0;
  padding-left: 0;

  li {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 0;
    padding-left: 0;

    a {
      background-color: #f0f0f0;
      border-radius: 4px;
      color: #333;
      display: inline;
      font-size: 1.2rem;
      opacity: .8;
      padding: .5rem 1rem;
    }

    a:hover,
    a:focus {
      background-color: #aaa;
      color: #fff;
      opacity: 1;
    }
  }
}

.comments-link {
  @extend %small;
  display: block;
  text-align: right;

  svg {
    fill: #777;
    margin-right: 2px;
    position: relative;
    top: 1px;
  }

  &:hover,
  &:focus {
    color: #111;

    a,
    a:link,
    a:visited,
    svg {
      color: #111;
      fill: #111;
    }
  }
}

.entry-footer {
  margin-bottom: 0;
  margin-top: 0;

  a {
    color: $color-darkgrey;

    &:hover,
    &:focus {
      color: $color-links;
      text-decoration: none;
    }
  }
}

// Posts and comments navigation
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  @include clearfix;
  margin: 1.5em 0;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-previous a::before,
.posts-navigation .nav-previous a::before,
.post-navigation .nav-previous a::before {
  content: '← ';
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.comment-navigation .nav-next a::after,
.posts-navigation .nav-next a::after,
.post-navigation .nav-next a::after {
  content: ' →';
}

// Legacy
.photoblog,
.size-large,
.kuva2,
.size-full {
  height: auto;
  max-width: $article-max-width;
  width: 100%;
}

.oikealle {
  border-radius: 4px;
  float: right;
  padding: 0 22px 8px 19px;
}

.single .container.container-article article .author-info {
  border-top: 1px solid #f2f2f2;
  margin-top: 60px;
  overflow: hidden;
  padding-top: 30px;

  a.button {
    background-color: transparent;
    border: 1px solid $color-body;
    border-radius: 50px;
    color: $color-body;
    font-size: 13px;
    opacity: .7;
    padding: 5px 25px;

    &:hover,
    &:focus {
      background-color: $color-body;
      border-color: $color-body;
      color: $color-white;
    }
  }

  .author-col-avatar {
    @include column(1/6);

    img {
      border-radius: 50%;
      height: 80px;
      max-width: 80px;
      min-width: 80px;
      width: 80px;

      @media (max-width: 600px) {
        height: 60px;
        max-width: 60px;
        min-width: 60px;
        width: 60px;
      }

      @media (max-width: $container-mobile) {
        height: 100px;
        max-width: 100px;
        min-width: 100px;
        width: 100px;
      }
    }

    @media (max-width: 600px) {
      @include column(1.2/6);
    }

    @media (max-width: $container-mobile) {
      @include stack();
      margin-bottom: 30px;
    }
  }

  .author-col-info {
    @include column(5/6);

    @media (max-width: 600px) {
      @include column(4.8/6);
    }

    @media (max-width: $container-mobile) {
      @include stack();
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  p {
    color: #666;
    font-size: 14px;

    &.description {
      margin-bottom: 2rem;
      margin-top: 0;

      @media (max-width: $container-mobile) {
        margin-bottom: 20px;
      }
    }

    &.button-paragraph {
      margin: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (max-width: $container-mobile) {
    text-align: center;
  }
}

.notification-box.old,
.container.container-article article .notification-box.old {
  background-color: $color-white;
  border: 1px dashed darken($color-blog-links, 5%);
  box-shadow: 0 0 0 3px #f8f8f8, 0 0 0 5px darken($color-blog-links, 5%), 0 0 0 10px #f8f8f8, 0 0 2px 10px #eee;
  color: darken($color-blog-links, 5%);
  font-family: $font-old;
  margin-bottom: 6rem;
  padding: 3rem;
  text-align: center;

  svg {
    height: auto;
    margin-bottom: -2rem;
    width: 70px;
  }

  h2 {
    font-size: 24px;
    margin: 0 0 2rem;
  }

  p {
    font-size: 17px;
    line-height: 1.44;
    margin: 0;
  }

  h2,
  p {
    color: darken($color-blog-links, 5%);
    font-family: $font-old;
  }

  @media (max-width: $article-max-width + 40px) {
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
  }
}
