// stylelint-disable a11y/no-display-none, scss/no-global-function-names, a11y/font-size-is-readable
.cat-links,
.tags-links {
  display: block;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 20px;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 20px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

del {
  color: var(--color-grey);
  text-decoration: line-through;
}

// Gutenberg magic
.container.container-article {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.article-content,
.editor-styles-wrapper .is-root-container,
.container.container-article .entry-content,
.container.container-article article,
.container.container-article .article {
  figure.wp-caption.alignnone[style] {
    max-width: $article-max-width;
    // stylelint-disable-next-line scss/no-important
    width: 100% !important;
  }

  figure.wp-caption.alignnone > img {
    height: auto;
    max-width: $article-max-width;
    width: 100%;
  }

  .minikuvateksti,
  .kuvateksti,
  .kuvateksti-horizontal,
  small {
    border: 0;
    color: rgb(var(--color-figcaptions-rgb) / .9);
    font-size: 15px;
    font-style: normal;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    max-width: $article-max-width;
    padding-bottom: 0;
    text-align: center;

    @media (max-width: $container-mobile) {
      margin-top: 2rem;
    }
  }

  p {
    color: var(--color-black);
    font-weight: $body-weight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  .is-style-ingress {
    line-height: 1.22;
  }

  iframe,
  .fb-post,
  small {
    display: block;
  }

  ul,
  li {
    line-height: 1.77;
  }

  .featured-image-single {
    margin-bottom: 8rem;
    max-width: 920px;

    img {
      height: auto;
      width: 100%;
    }
  }

  blockquote {
    border-left: 2px solid var(--color-shark);
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    max-width: 920px;
    padding: 0 6rem;

    * {
      color: var(--color-shark);
    }

    cite {
      opacity: .8;
      text-align: left;
      transition: all 22s;

      &:hover,
      &:focus {
        opacity: 1;
      }

      * {
        font-size: var(--font-size-16) !important;

        &.is-external-link::after {
          background-image: url('../../svg/external-link-shark.svg');
          background-size: 12px 12px;
          height: 12px;
          width: 12px;
        }
      }
    }

    p {
      font-size: var(--font-size-22);
    }

    @media (max-width: $width-grid-base + 40px) {
      padding: 0 4rem;
    }

    @media (max-width: $container-mobile) {
      padding: 0 2rem;
    }
  }

  cite {
    margin-bottom: 0;
  }

  div[style="width: 640px;"],
  .wp-video {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: $article-max-width !important;
    width: 100% !important;
  }

  > * {
    &.wp-block-image {
      margin-bottom: 4rem;
      margin-top: 4rem;

      .entry-photo {
        margin: 0;
      }

      .entry-photo img {
        height: auto;
        max-width: 100%;
        width: 100%;
      }
    }

    .entry-title {
      @include responsive-font(42px, 90px);
      line-height: 1;
      margin-bottom: 0;
      margin-top: 8rem;
      max-width: 1000px;
      text-align: center;

      svg {
        margin-left: 5px;
      }

      .entry-meta {
        margin-bottom: 9rem;
        max-width: 800px;
        text-align: center;

        p {
          @include responsive-font(16px, 19px);
          margin-top: 2rem;
          opacity: .8;

          @media (max-width: $container-mobile) {
            font-size: 15px;
          }
        }

        @media (max-width: $container-mobile) {
          margin-bottom: 8rem;
        }

        @media (max-width: $container-mobile) {
          .reading-time {
            display: block;
          }

          .reading-time .dot-divider {
            display: none;
          }
        }
      }

      @media (max-width: 600px) {
        margin-top: 0;
      }
    }
  }

  @media (min-width: 1170px) {
    // Big photos
    .entry-photo {
      margin-bottom: 8rem;
      margin-top: 8rem;
      max-width: 100%;
      text-align: center;

      img {
        margin: 0 auto;
        max-width: 70%;
      }
    }

    small[style="text-align: center;"] {
      display: block;
      margin-bottom: 8rem;
      margin-top: -4rem;
      max-width: 100%;
      width: 100%;
    }
  }
}

// Required post author comment
.comments-area .comment-list li.bypostauthor {
  background-color: rgb(var(--color-post-author-background-rgb) / .4);
  border-color: var(--color-post-author-border);
  padding: 3rem;
}

.entry-content {
  margin-bottom: 2em;

  p {
    line-height: 1.77;
  }

  // Embeds
  embed,
  iframe,
  object,
  video {
    max-width: 100%;
  }

  // Don't add extra margin on top of first title
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }
  }
}

// Table heading cells
th {
  font-weight: var(--font-weight-bold);
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

dfn {
  font-style: italic;
}

kbd {
  background-color: var(--color-lighter-grey);
  border: 1px solid var(--color-grey-alt);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgb(var(--color-black-rgb) / .2), 0 0 0 2px var(--color-white) inset;
  color: var(--color-black-three);
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: var(--line-height);
  padding: 0 .5rem;
  text-shadow: 0 1px 0 var(--color-white);
  white-space: nowrap;
}

.entry-header {
  .entry-title {
    margin-bottom: .1em;

    a {
      color: var(--color-black);

      &:hover,
      &:focus {
        color: var(--color-hover);
      }
    }
  }
}

.entry-meta {
  margin-bottom: 1em;

  * {
    color: var(--color-darkgrey);
  }
}

p.entry-time {
  margin-bottom: .1em;
}

.cat {
  margin-bottom: 10px;
  margin-top: 0;
}

ul.tags {
  margin: 0;
  overflow: hidden;
  padding: 0;
  padding-left: 0;

  li {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 0;
    padding-left: 0;

    a {
      background-color: var(--color-white-two);
      border-radius: 4px;
      color: var(--color-black-three);
      display: inline;
      font-size: 1.2rem;
      opacity: .8;
      padding: .5rem 1rem;
    }

    a:hover,
    a:focus {
      background-color: var(--color-grey-alt);
      color: var(--color-white);
      opacity: 1;
    }
  }
}

.comments-link {
  display: block;
  font-size: var(--font-size-14);
  text-align: right;

  svg {
    fill: var(--color-grey-two);
    margin-right: 2px;
    position: relative;
    top: 1px;
  }

  &:hover,
  &:focus {
    color: var(--color-black);

    a,
    a:link,
    a:visited,
    svg {
      color: var(--color-black);
      fill: var(--color-black);
    }
  }
}

.entry-footer {
  margin-bottom: 0;
  margin-top: 0;

  a {
    color: var(--color-darkgrey);

    &:hover,
    &:focus {
      color: var(--color-black);
      text-decoration: none;
    }
  }
}

// Posts and comments navigation
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 1.5em 0;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-previous a::before,
.posts-navigation .nav-previous a::before,
.post-navigation .nav-previous a::before {
  content: '← ';
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.comment-navigation .nav-next a::after,
.posts-navigation .nav-next a::after,
.post-navigation .nav-next a::after {
  content: ' →';
}

.oikealle {
  border-radius: 4px;
  float: right;
  padding: 0 22px 8px 19px;
}

body.post-type-archive-diary .article-content .author-info,
body.post-type-archive-diary .container.container-article .entry-content .author-info,
.single .container.container-article .entry-content .author-info,
.single .container.container-article article .author-info {
  border-top: 1px solid var(--color-white-three);
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 5fr;
  margin-top: 60px;
  overflow: hidden;
  padding-top: 30px;

  .author-col a:not(.button) {
    @include link();
    color: var(--color-black);
    text-decoration-color: rgb(var(--color-black-rgb) / .3);

    &:hover,
    &:focus {
      color: var(--color-accent-hover);
      text-decoration-color: rgb(23 69 158 / .2);
    }
  }

  a.button {
    background-color: transparent;
    border: 1px solid var(--color-black);
    border-radius: 50px;
    color: var(--color-black);
    font-size: 13px;
    opacity: .7;
    padding: 5px 25px;

    &:hover,
    &:focus {
      background-color: var(--color-black);
      border-color: var(--color-black);
      color: var(--color-white);
    }
  }

  .author-col-avatar {
    img {
      border-radius: 50%;
      height: 80px;
      max-width: 80px;
      min-width: 80px;
      width: 80px;

      @media (max-width: 600px) {
        height: 60px;
        max-width: 60px;
        min-width: 60px;
        width: 60px;
      }

      @media (max-width: $container-mobile) {
        height: 100px;
        max-width: 100px;
        min-width: 100px;
        width: 100px;
      }
    }
  }

  h3 {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  p {
    color: var(--color-grey);
    font-size: 14px;

    &.description {
      margin-bottom: 2rem;
      margin-top: 0;

      @media (max-width: $container-mobile) {
        margin-bottom: 20px;
      }
    }

    &.button-paragraph {
      margin: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (max-width: $container-mobile) {
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  @media (max-width: $container-mobile) {
    text-align: center;
  }
}

.article-content .notification-box.old,
.notification-box.old,
.container.container-article article .notification-box.old {
  background-color: var(--color-white);
  border: 1px dashed var(--color-pickled-bluewood);
  box-shadow: 0 0 0 3px var(--color-lighter-grey), 0 0 0 5px darken(#414663, 5%), 0 0 0 10px var(--color-lighter-grey), 0 0 2px 10px var(--color-screechin-white);
  color: var(--color-pickled-bluewood);
  font-family: $font-old;
  margin-bottom: 6rem;
  margin-top: 2.9rem;
  padding: 3rem;
  text-align: center;

  svg {
    height: auto;
    margin-bottom: -2rem;
    width: 70px;
  }

  h2 {
    font-size: 24px;
    margin: 0 0 2rem;
  }

  p {
    font-size: 17px;
    line-height: 1.44;
    margin: 0;
  }

  h2,
  p {
    color: var(--color-pickled-bluewood);
    font-family: $font-old;
  }

  @media (max-width: $article-max-width + 42px) {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2.9rem;
    width: calc(100% - 4rem);
  }
}

.theme-dark .article-content .notification-box.old,
.theme-dark .container.container-archive .notification-box.old,
.theme-dark .container.container-article article .notification-box.old {
  border: 2px solid rgb(255 255 255 / .1);
  box-shadow: none;
}

.article-content {
  // Legacy
  .is-external-link > img[loading="lazy"],
  a > img[sizes],
  p:not([class]) > img[sizes],
  p:not([class]) > img.photoblog,
  p:not([class]) > img.size-large,
  p:not([class]) > img.kuva2,
  p:not([class]) > img.size-full {
    height: auto;
    max-width: $article-max-width;
    width: 100%;
  }

  p > .button.button-bmc svg {
    border: none;
    box-shadow: none;
    margin-bottom: 1px;
    margin-right: 5px;
    min-width: 27px;
    width: 27px;
  }

  p > .button.button-bmc {
    align-items: center;
    background-color: var(--color-white-three);
    border: 1px solid transparent;
    box-sizing: border-box;
    color: var(--color-black);
    display: inline-flex;
    height: 40px;
    line-height: 40px;
    margin-top: 1rem;
    opacity: 1;
    padding-left: 15px;
    text-decoration: none;
    transform: scale(1);
    transition: all .2s;
  }

  p > .button.button-bmc:hover,
  p > .button.button-bmc:active,
  p > .button.button-bmc:focus {
    box-shadow: 0 4px 20px rgb(var(--color-black-rgb) / .5);
    color: var(--color-black);
    text-decoration: none;
    transform: scale(1.1);
  }
}

.wp-audio-shortcode {
  display: block;
}
