// ---------------------------------------------------------
// Helpers
//
// Mixins and other essentials for global theme development.
// ---------------------------------------------------------

// General
@mixin hiddentext() {
  display: block;
  font-size: 0;
  overflow: hidden;
  text-align: start;
  text-decoration: none;
  text-indent: -9999px;
}

// Clearfix
@mixin clearfix() {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

// Positioning
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

@mixin horizontal-align {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  transform-style: preserve-3d;
}

@mixin centered {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-style: preserve-3d;
}

// Viewport sized typography with minimum and maximum values
// Based on an example here: https://css-tricks.com/snippets/css/fluid-typography/
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
