@use 'sass:math';

// Helper mixin for variable fonts
@mixin variablefont($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src:
      url('#{$src}.woff2') format('woff2-variations'),
      url('#{$src}.woff2') format('woff2-variations');
  }
}
