/* stylelint-disable number-max-precision, declaration-property-unit-allowed-list, a11y/no-display-none */
.site-head {
  font-size: 1.35rem;
  margin-top: -10px;
  padding: 6rem;
  position: relative;
  z-index: 300;

  @media (max-width: $responsivenav) {
    padding: 4rem;
  }

  @media (max-width: $container-mobile) {
    padding: 3rem 2rem;
  }
}

.site-head-container {
  /* autoprefixer: off */
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.site-head-left {
  /* autoprefixer: off */
  align-items: center;
  display: flex;
  margin-right: 10px;
  position: relative;
  white-space: nowrap;
  z-index: 100;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0 -12px;
  padding: 0;
}

.site-head li {
  display: block;
  margin: 0;
  padding: 0;
}

.site-head-left a,
.site-head-right a {
  color: var(--color-black);
  display: block;
  font-weight: 600;
  margin: 0;
  opacity: .4;
  padding: 10px 12px;
}

.site-head a:hover,
.current-menu-item a,
.site-head a:focus,
.active a {
  opacity: 1;
  text-decoration: none;
}

.site-head-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.site-head-logo {
  align-items: center;
  color: var(--color-black);
  display: inline-flex;
  flex-shrink: 0;
  font-family: Muli, $font-headings;
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 10px;
  text-transform: uppercase;

  svg {
    margin-right: 3px;
    position: relative;
    top: 0;
    transition: all .33s;
  }
}

.site-head-logo:hover,
.site-head-logo:focus {
  text-decoration: none;

  svg {
    color: var(--color-rain);
    transform: rotate(-8deg);
    transform-origin: left;
  }
}

.site-head-logo img {
  display: block;
  height: 28px;
  margin-top: 2px;
  width: auto;
}

.site-head-right {
  /* autoprefixer: off */
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  position: relative;
  z-index: 100;

  button {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: var(--color-black);
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    opacity: .5;
    padding: 10px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 1s;
    z-index: 2;

    svg {
      position: relative;
      top: -1px;
      transition: all 1s;

      @media (min-width: 840px) {
        left: -10px;
      }
    }

    &:hover,
    &.active,
    &:focus {
      cursor: pointer;
      opacity: 1;
    }

    @media (max-width: $responsivenav) {
      opacity: 1;
      padding: 0;
    }

    @media (max-width: 840px) {
      span {
        display: none;
      }

      svg {
        height: 3.2rem;
        width: 3.2rem;
      }
    }

    @media (max-width: 840px) {
      svg {
        height: 2.4rem;
        width: 2.4rem;
      }
    }

    @media (max-width: 420px) {
      svg {
        height: 2.2rem;
        width: 2.2rem;
      }
    }
  }
}

.social-links {
  /* autoprefixer: off */
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.subscribe-button {
  border: var(--color-black) 1px solid;
  border-radius: 10px;
  color: var(--color-black);
  display: block;
  font-size: 1.2rem;
  line-height: 1em;
  opacity: .8;
  padding: 4px 10px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  opacity: 1;
  text-decoration: none;
}

.rss-button {
  opacity: .4;
}

.rss-button:hover,
.rss-button:focus {
  opacity: 1;
}

.rss-button svg {
  fill: var(--color-black);
  height: 2.1rem;
  margin-bottom: 1px;
}

/* Mobile Nav Menu
/* ---------------------------------------------------------- */

.nav-burger {
  display: none;
  left: 0;
  padding: 12px 12px 12px 0;
  position: absolute;
  z-index: 9999;
}

@media (max-width: $responsivenav) {
  .nav-burger {
    display: block;
  }

  .site-head-container {
    background-color: rgb(var(--color-white-rgb) / 0);
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: flex-start;
    overflow: visible;
    transition: all .4s ease-out;
    z-index: -1;
  }

  .site-head-left,
  .site-head-right {
    height: auto;
    justify-content: flex-start;
    position: relative;
    transition: height .2s cubic-bezier(.4, .01, .165, .99);
    transition-delay: 1s;
    z-index: -1;
  }

  .site-head-left a,
  .site-head-right a {
    font-size: 2.6rem;
    font-weight: 200;
    line-height: 1.15em;
    margin: 8px 0;
    opacity: 0;
    padding: 1px 0;
    transform: scale(1.1) translateY(-25px);
    transition: transform .3s cubic-bezier(.4, .01, .165, .99), opacity .2s cubic-bezier(.4, .01, .165, .99);
  }

  .site-head-right button {
    opacity: 0;
    transform: scale(1.1) translateY(-25px);
    transition: transform .3s cubic-bezier(.4, .01, .165, .99), opacity .2s cubic-bezier(.4, .01, .165, .99);
  }

  .site-head-right a {
    font-size: 2rem;
    margin: 1px 0;
    padding: 5px 0;
  }

  .nav {
    /* autoprefixer: off */
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin: 3vw 0 0;
    width: 100%;
  }

  .site-head-left {
    margin: 0;
    order: 2;
    width: 100%;
  }

  .site-head-center {
    display: flex;
    justify-content: center;
    order: 1;
    position: static;
    z-index: auto;
  }

  .site-head-right {
    margin-top: 3vw;
    order: 3;
    width: 100%;
  }

  .social-links {
    /* autoprefixer: off */
    align-items: flex-start;
    flex-direction: column;
  }

  .site-head-open {
    background-color: rgb(var(--color-white-rgb) / 1);
    height: 100vh;
    overflow: hidden;
    transition: background .5s ease-out;
    transition-delay: .25;
  }

  .site-head-open .site-head-container {
    height: calc(100vh - 14vw);
    overflow-y: scroll;
    transition: height .2s ease-in;
  }

  .site-head-open .site-head-left,
  .site-head-open .site-head-right {
    height: auto;
    transition: height .2s cubic-bezier(.4, .01, .165, .99);
    z-index: 9999;
  }

  .site-head-open .site-head-left a,
  .site-head-open .site-head-left button,
  .site-head-open .site-head-right a,
  .site-head-open .site-head-right button {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: transform .6s cubic-bezier(.4, .01, .165, .99), opacity .9s cubic-bezier(.4, .01, .165, .99);
  }

  .site-head-open .nav-current a {
    border-bottom: var(--color-black) 2px solid;
  }

  .site-head-open .site-head-right a {
    opacity: .5;
  }

  .site-head-open .site-foot {
    bottom: 0;
    display: block;
    position: fixed;
    transform: translateY(-4vw);
    transition: transform .3s cubic-bezier(.4, .01, .165, .99);
    z-index: 9999;
  }
}

// Hamburger
/* https://github.com/jonsuh/hamburgers */
.hamburger {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  /* stylelint-disable-next-line */
  font: inherit;
  margin: 0;
  overflow: visible;
  padding: 2px 4rem;
  text-transform: none;
  transition: opacity .15s linear, filter .15s linear;

  @media (max-width: $container-mobile) {
    padding: 2px 2rem;
  }
}

.hamburger-box {
  display: inline-block;
  height: 13px;
  position: relative;
  width: 20px;
}

.hamburger-inner {
  display: block;
  margin-top: -2px;
  top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: rgba(var(--color-black-rgb) / .8);
  border-radius: 4px;
  height: 2px;
  position: absolute;
  transition: transform .15s ease;
  width: 22px;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -6px;
}

.hamburger-inner::after {
  bottom: -6px;
}

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  bottom: 0;
  top: auto;
  transition-delay: .15s;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -12px;
  transition: top .3s .3s cubic-bezier(.33333, .66667, .66667, 1), opacity .1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  transition: top .12s .3s cubic-bezier(.33333, .66667, .66667, 1), transform .15s cubic-bezier(.55, .055, .675, .19);
}

.site-head-open .hamburger-inner,
.site-head-open .hamburger-inner::before,
.site-head-open .hamburger-inner::after {
  background-color: var(--color-black);
}

.site-head-open .hamburger-inner {
  transform: translate3d(0, -6px, 0) rotate(-45deg);
  transition-delay: .32s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
}

.site-head-open .hamburger-inner::after {
  opacity: 0;
  top: 0;
  transition: top .3s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s .27s linear;
}

.site-head-open .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top .12s .18s cubic-bezier(.33333, 0, .66667, .33333), transform .15s .42s cubic-bezier(.215, .61, .355, 1);
}
